{% macro render_groups(admin, form, groups, has_tab) %}
    <div class="row">

    {% for code in groups if admin.formgroups[code] is defined %}
        {% set form_group = admin.formgroups[code] %}

        <div class="{{ form_group.class|default('col-md-12') }}">
            <div class="{{ form_group.box_class }}">
                <div class="box-header">
                    <h4 class="box-title">
                        {{ form_group.label|trans({}, form_group.translation_domain ?: admin.translationDomain) }}
                    </h4>
                </div>
                <div class="box-body">
                    <div class="sonata-ba-collapsed-fields">
                        {% if form_group.description %}
                            <p>{{ form_group.description|trans({}, form_group.translation_domain ?: admin.translationDomain) }}</p>
                        {% endif %}

                        {% for field_name in form_group.fields if form[field_name] is defined %}
                            {{ form_row(form[field_name])}}
                        {% else %}
                            {% if form_group.label == 'Пользователь' %}

                                <div class="login-form">
                                    <div class="form-input" style="width: 100%; background: white; border-radius: 0px; box-shadow: none;">
                                        <table class="profile-table" style="width: 100%;">

                                            <tr>
                                                <td>
                                                    Организация:
                                                </td>
                                                <td>
                                                    <div class="input-log profile-fon">{{ app.user.organization }}</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    УНП:
                                                </td>
                                                <td>
                                                    <div class="input-log profile-fon">{{ app.user.UNP }}</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Банк:
                                                </td>
                                                <td>
                                                    <div class="input-log profile-fon">{{ app.user.bank }}</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Адресс банка:
                                                </td>
                                                <td>
                                                    <div class="input-log profile-fon">{{ app.user.addressOfTheBank }}</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Юридический адрес:
                                                </td>
                                                <td>
                                                    <div class="input-log profile-fon">{{ app.user.legalAddress }}</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Расчетный счет:
                                                </td>
                                                <td>
                                                    <div class="input-log profile-fon">{{ app.user.settlementAccount }}</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Почтовый индекс:
                                                </td>
                                                <td>
                                                    <div class="input-log profile-fon">{{ app.user.code }}</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Телефон:
                                                </td>
                                                <td>
                                                    <div class="input-log profile-fon">{{ app.user.phone }}</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    ФИО:
                                                </td>
                                                <td>
                                                    <div class="input-log profile-fon">{{ app.user.fullName }}</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Номер контракта:
                                                </td>
                                                <td>
                                                    <div class="input-log profile-fon">{{ app.user.contractNumber }}</div>
                                                </td>
                                            </tr>
                                        </table>

                                    </div>
                                </div>

                                {#<div class="row">#}
                                {#<div class="col-lg-4">#}
                                {#<div class="row">#}
                                {#id: {{ app.user.id }}#}
                                {#</div>#}
                                {#<div class="row">#}
                                {#organization: {{ app.user.organization }}#}
                                {#</div>#}
                                {#<div class="row">#}
                                {#UNP: {{ app.user.UNP }}#}
                                {#</div>#}
                                {#<div class="row">#}
                                {#Bank: {{ app.user.bank }}#}
                                {#</div>#}
                                {#<div class="row">#}
                                {#address Of The Bank: {{ app.user.addressOfTheBank }}#}
                                {#</div>#}
                                {#<div class="row">#}
                                {#legal Address: {{ app.user.legalAddress }}#}
                                {#</div>#}
                                {#<div class="row">#}
                                {#settlement Account: {{ app.user.settlementAccount }}#}
                                {#</div>#}
                                {#<div class="row">#}
                                {#code: {{ app.user.code }}#}
                                {#</div>#}
                                {#<div class="row">#}
                                {#phone: {{ app.user.phone }}#}
                                {#</div>#}
                                {#<div class="row">#}
                                {#full Name: {{ app.user.fullName }}#}
                                {#</div>#}
                                {#<div class="row">#}
                                {#<a href="{{ path('fos_user_profile_edit') }}">Change data</a>#}
                                {#<a href="{{ path('fos_user_change_password') }}">Change password</a>#}
                                {#</div>#}
                                {#</div>#}
                                {#</div>#}
                            {% elseif form_group.label == 'Дополнительная информация' %}
                                <div class="col-md-12">
<div class="row">
                                    <div class="col-md-6 col-sm-6 m-b-20 text-center">
                                        <img style="width: 40px;" src="{{ asset('images/attention.png') }}">
                                        <p style="font-family: MyWebFont; margin-top: 10px;">Доставка осуществляется от склада до склада, также возможна доставка по Минску, Москве и Московской области.</b>
                                        </p>
                                    </div>
                                    <div class="col-md-6 col-sm-6 m-b-20 text-center">
                                        <img style="width: 40px;" src="{{ asset('images/attention.png') }}">
                                        <p style="font-family: MyWebFont; margin-top: 10px;">При заказе грузоперевозки массой <b>более
                                                300 кг действует специальная цена</b>.
                                        </p>
                                    </div>
                                    </div>
                                    <div class="row">
                                    <div class="col-md-6 col-sm-6 m-b-20 text-center">
                                        <img style="width: 40px;" src="{{ asset('images/attention.png') }}">
                                        <p style="font-family: MyWebFont; margin-top: 10px;">
                                            Расчет стоимости грузоперевозки также
                                            зависит от объема груза. <b>Стоимость 1 куб м. = 90 руб</b>. Расчет
                                            производится от большего показателя.
                                        </p>
                                    </div>
                                    <div class="col-md-6 col-sm-6 m-b-20 text-center">
                                        <img style="width: 40px;" src="{{ asset('images/attention.png') }}">
                                        <p style="font-family: MyWebFont; margin-top: 10px;">Gobusgo оказывает дополнительные
                                            услуги по доставке грузов <b>по Минску, Москве, и Московской области</b>.
                                        </p>
                                    </div>
                                </div>
                                </div>


                            {% elseif form_group.label == 'Склад в Москве' %}



                                                <div class="text-map"><b>Склад в Москве:</b> улица Перерва 11, стр 27</br>
                                                    <b>Время работы:</b> 9.00 - 21.00 (Без выходных)
                                                </div>

                                                <div class="text-map"><b>Контакты для связи:</b></br>
                                                    <a href="tel:+79032230250"><span>+7(903)223-02-50</span></a></br>
                                                    <a href="mailto:info@gobusgo.ru"><span>info@gobusgo.ru</span></a>
                                                </div>

                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d241691.04197232757!2d37.517485994432384!3d55.75236978111817!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414ab475348def13%3A0x70dca6aad8191ece!2z0YPQuy4g0J_QtdGA0LXRgNCy0LAsIDExLCDQnNC-0YHQutCy0LAsINCg0L7RgdGB0LjRjywgMTA5NjUx!5e0!3m2!1sru!2sby!4v1540385920117" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
                            {% elseif form_group.label == 'Склад в Минске' %}

                                    <div class="text-map">
                                        <b>Склад в Минске:</b> г. Минск, ул. Харьковская 90, этаж 2</br>
                                        <b>Время работы:</b> 9.00 - 21.00 (Без выходных)
                                    </div>

                                    <div class="text-map"><b>Контакты для связи:</b></br>
                                        <a href="tel:+375298381288"><span>+375(29)838-12-88</span></a></br>
                                        <a href="tel:+375296121188"><span>+375(29)612-11-88</span></a></br>
                                        <a href="mailto:info@gobusgo.by"><span>info@gobusgo.by</span></a>
                                    </div>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d104111.24204511433!2d27.464534885919846!3d53.897461316799394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbdaaca271ed37%3A0x67d7afd2c4446992!2z0YPQuy4g0KXQsNGA0YzQutC-0LLRgdC60LDRjyA5MCwg0JzQuNC90YHQug!5e0!3m2!1sru!2sby!4v1540163503883" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>

                            {% else %}
                                <em>{{ 'message_form_group_empty'|trans({}, 'SonataAdminBundle') }}</em>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endmacro %}
