{% extends 'base.html.twig' %}


{% block header %}
    <div class="container-fluid">
        <div class="row" style="text-align: left;">
            <a href="{{ path('gobusgo_gobusgo_homepage') }}"><img class="exit-img"
                                                                  src="{{ asset('/images/home.png') }}"></a>
            <a onclick="javascript:history.back(); return false;"> <img class="exit-img"
                                                                        src="{{ asset('/images/return.png') }}">
            </a>
        </div>
    </div>

{% endblock %}
{% block body %}

    <body>

    <div class="page text-center">

        <section class="section-60">
            <div class="container">
                <div class="row">

                    <div class="col-md-push-2 col-md-8 text-center">
                        <a href="{{ path('gobusgo_gobusgo_homepage') }}">
                            <img src="{{ asset('images/logo-1.png') }}" alt="" width="120px;">
                        </a>

                    <h3 class="offset-top-22 offset-md-top-40">Извините, данная страница была удалена, перенесена, или никогда не существовала!</h3>
      <h1 class="text-extra-big">404</h1>
                    <p class="big">ОШИБКА</p>
                        <a href="{{ path('gobusgo_gobusgo_homepage') }}" class="button-log">НА ГЛАВНУЮ</a>
                    </div>

                </div>
            </div>
        </section>
    </div>
    </body>

{% endblock %}

{% block footer %}

{% endblock %}