{% extends '@GobusgoGobusgo/layout.html.twig' %}

{#{% block title %}Confirm{% endblock %}#}

{% block body %}
    <div class="row" style="background-color: #f5f5f7; padding-bottom: 3%;">
        <div class="container-fluid" style="margin-top: 3%;">

            {% for type, messages in app.session.flashBag.all %}
                {% for message in messages %}
                    <div class="{{ type }}">
                        {% if message.organization is defined  %}
                            Форма юр. лица была отправлена в {{ "now" | date("Y-m-d H:i") }}.
                            </br>
                            Организация: {{ message.organization }} </br>
                            УНП: {{ message.UNP }} </br>
                            Банк: {{ message.bank }} </br>
                            Адрес банка: {{ message.addressOfTheBank }} </br>
                            Юридический адрес: {{ message.legalAddress }} </br>
                            Расчётный счёт: {{ message.settlementAccount }} </br>
                            Код: {{ message.code }} </br>
                            Контактное лицо: {{ message.fullName }} </br>
                            Телефон для связи: {{ message.phone }} </br>
                            </br>
                            Вес: {{ message.weight }}; </br>
                            Высота: {{ message.height }}; </br>
                            Длина: {{ message.lenght }}; </br>
                            Ширина: {{ message.width }}; </br>
                            Города: {{ message.cities }}; </br>
                            Сумма: {{ message.sum }}; </br>
                        {% elseif message.weight is defined %}
                            Контактное лицо: {{ message.name }} </br>
                            Телефон для связи: {{ message.phone }} </br>
                            </br>
                            Вес: {{ message.weight }}; </br>
                            Высота: {{ message.height }}; </br>
                            Длина: {{ message.lenght }}; </br>
                            Ширина: {{ message.width }}; </br>
                            Города: {{ message.cities }}; </br>
                            Сумма: {{ message.sum }}; </br>
                        {%  else %}
                            Контактное лицо: {{ message.name }} </br>
                            Телефон для связи: {{ message.phone }} </br>
                        {% endif %}


                    </div>
                {% endfor %}
            {% endfor %}




        </div>
    </div>

{% endblock %}