{% extends '@GobusgoGobusgo/layout.html.twig' %}

{% block body %}
    <section>
    <div class="container offset-top-22 offset-md-top-22">
        <div class="row">
            <div class="col-md-12">
                <h1 style="text-align:left;" class="section-bottom-40">{{ seo.h1|raw }}</h1>

                {% if seo.intro is not empty %} {{ seo.intro|raw }} {% endif %}
                <div class="col-md-7 col-xs-12" style="padding-left: 0px;">

                    <h4 style="border-bottom: 1px solid #ccc; display: inline-block;">Юридические данные:</h4>
                    <p class="text-contacts">
                        ИП Стась В.Н.</br>
                        г. Минск, ул. Харьковская 90 каб. 8</br>
                        УНП 192759747</br>
                        Свидетельство о государственной регистрации выдано Минским горисполкомом
                    </p>


                    <div class="col-md-12 col-xs-12" style="padding: 0px; margin-bottom: 20px;">

                        <h4 style="margin-top: 30px; border-bottom: 1px solid #ccc; display: inline-block;">Форма
                            обратной
                            связи:</h4>
                        <form name="enquiry" method="post" action="/contact">
                            <div style="border-radius: 12px; padding: 10px 0px;">
                                <div class="row">
                                    <div class="col-md-6 col-xs-12">

                                        <input id="enquiry_name" name="enquiry[name]" required="required"
                                               class="input-log"
                                               placeholder="Имя" style="margin: 10px 0px;" type="text">

                                    </div>
                                    <div class="col-md-6 col-xs-12">

                                        <input id="enquiry_email" name="enquiry[email]" required="required"
                                               class="input-log"
                                               placeholder="Ваш Email" style="margin: 10px 0px;" type="email">

                                    </div>
                                    <div class="col-md-12 col-xs-12">

                                        <input id="enquiry_subject" name="enquiry[subject]" required="required"
                                               class="input-log" placeholder="Тема" style="margin: 10px 0px;"
                                               type="text">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-xs-12">

                                <textarea id="enquiry_body" name="enquiry[body]" required="required"
                                          class="input-textarea"
                                          placeholder="Сообщение...." style="margin: 10px 0px;" rows="5"></textarea>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 text-right">
                                    <input id="enquiry_phone" name="enquiry[phone]" type="text" hidden="">
                                    <input class="button-log" value="Отправить сообщение" style="font-size: 16px;"
                                           type="submit">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">

                    <h4 style="border-bottom: 1px solid #ccc; display: inline-block;">Адрес в Минске:</h4>
                    <p class="text-contacts">г. Минск, ул. Харьковская 90 каб. 8</p>
                    <h4 style="margin-top: 30px; border-bottom: 1px solid #ccc; display: inline-block;">Адрес в Москве:</h4>
                    <p class="text-contacts">г. Минск, ул. Харьковская 90 каб. 8</p>
                    <h4 style="margin-top: 30px; border-bottom: 1px solid #ccc;">Контактные данные:</h4>
                    <p>
                    <a class="text-contacts"
                            href="tel:+375296121188"><span>+375(29)612-11-88</span></a>
                    <a target="_blank" href="viber://add?number=375296121188">
                        <img
                                class="icons-phone" style="margin-left: 5px;"
                                src="{{ asset('images/viber.png') }}"/>
                    </a>
                    <a href="tg://resolve?domain=Gobusgo2" target="_blank">
                        <img class="icons-phone"
                             src="{{ asset('images/telegram.png') }}"/>
                    </a>
                    </p>

                    <a class="text-contacts" href="tel:+375298381288"><span>+375(29)838-12-88</span></a>
                    <br>
                    <a class="text-contacts" style="margin-top: 5px;" href="tel:+79032230250"><span>+7(903)223-02-50</span></a>
                    <a target="_blank" href="https://api.whatsapp.com/send?phone=79032230250"><img
                                class="icons-phone" style="margin-left: 5px;"
                                src="{{ asset('images/whatsup.png') }}"/></a>
                    <a href="tg://resolve?domain=Gobusgo" target="_blank">
                        <img class="icons-phone"
                             src="{{ asset('images/telegram.png') }}"/></a>
                    <div class="footer-icons">
                        <img src="{{ asset('images/insta.png') }}" style="height:35px; margin-right: 5px;"/>
                    </div>

                    <h4 style="margin-top: 30px; border-bottom: 1px solid #ccc;">Время
                        работы:</h4>
                    <p class="text-contacts">Пн-Вс: с 9.00 до 21.00</br>Без выходных</p>
                    {#<p class="text-contacts">Склад: Пр. Дзержинского</br>Офис: Пр. Дзержинского</p>#}

                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="padding: 0px;">
        <div class="row"></div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d150474.39557313913!2d27.40249134812782!3d53.89331684651622!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcfd35b1e6ad3%3A0xb61b853ddb570d9!2z0JzQuNC90YHQug!5e0!3m2!1sru!2sby!4v1523641166856"
                width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    </div>
    </section>

{% endblock %}