{% extends '@GobusgoGobusgo/layout.html.twig' %}

{% block body %}
    <section class="section-60">
        <div class="container">
            <div class="row">
                <h1>{{ seo.h1|raw }}</h1>
                <div class="col-md-push-1 col-md-10 offset-top-22 offset-md-top-40">
                    {% if seo.intro is not empty %} {{ seo.intro|raw }} {% endif %}
                </div>
            </div>
        </div>
    </section>
    <div class="container" id="raschet">
        <div class="row" style="text-align: center;">
            <div class="col-md-12">
                <h2>Расчет стоимости грузоперевозки:</h2>
            </div>
            <div class="offset-top-22 offset-md-top-40 section-bottom-60 range col-md-12 col-xs-12">
                <img class="road-laptop" src="{{ asset('images/road2.png') }}" style="width: 100%; height: 100%;">
                <div class="col-md-3 col-sm-3 col-xs-3 road-tablet">
                    <div style="height: 123px;">
                        <h3 class="road-tablet-title">Клиент</h3>
                    </div>

                    <div style="height: 123px;">
                        <h3 class="road-tablet-title">Габариты</h3>
                    </div>
                    <div style="height: 123px;">
                        <h3 class="road-tablet-title">Направление</h3>
                    </div>
                    <div style="height: 123px;">
                        <h3 class="road-tablet-title">ИТОГО</h3>
                    </div>
                    <div style="height: 123px;">
                        <h3 class="road-tablet-title">Заявка</h3>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2 road-tablet" style="text-align:center;">
                    <img src="{{ asset('images/road-tablet.png') }}" width="60px">
                </div>
                <div class="col-xs-3 road-mobile" style="padding: 0px 5px;">
                    <img src="{{ asset('images/road-tablet.png') }}" width="60px">
                </div>
                <div class="col-md-12 col-sm-7 col-xs-9">
                    <div class="col-md-3 height-mobile">
                        <h4>Клиент</h4>
                        <label style="display: block;">
                            <span>Физическое лицо</span>
                            <input type="radio" class="option-input radio" name="radio" id="individualRadio"
                                   onchange="sum()" checked/>
                        </label>
                        <label style="display: block;">
                            <span>Юридическое лицо</span>
                            <input type="radio" class="option-input radio" name="radio" id="legalRadio"
                                   onchange="sum()"/>
                        </label>
                    </div>
                    <div class="col-md-3 height-mobile">
                        <h4>Габариты (кг)</h4>
                        <div class="Input">
                            <input class="input-log" type="number" min="0,001" max="300" id="weight" required="required" placeholder="Вес, кг"
                                   oninput="sum()">
                            <p id="errorMessage"></p>
                        </div>
                    </div>
                    <div class="col-md-3 height-mobile">
                        <h4>Направление</h4>
                        <p class="big">Минск <i class="fa fa-long-arrow-right" aria-hidden="true"></i> Москва</p>
                    </div>
                    <div class="col-md-3">
                        <div class="height-mobile">
                            <h4>ИТОГ</h4>
                            <div class="Input">
                                <input id="sum" class="input-log" placeholder="Сумма">
                            </div>
                        </div>
                        <div class="button-mobile">
                            <a class="button-log"  onclick="openform()">Оформление</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#x" class="overlay" id="orderForm">
    </a>
    <div class="popup">
        <div class="section bg-gray-light">
            <div style="display: block;" id="individual_form">
                {{ form_start(individualCallform) }}
                <h4 style="margin: 10px 20px 20px 20px; text-align: center;">Заявка для физического лица</h4>
                <div class="col-md-12 text-center">
                    <img class="img-call" src="{{ asset('images/truck.png') }}">
                    <p style="display: inline-block; margin-left: 10px;">Габариты:</p>
                    <p id="individualCallWeight" class="big"></p>
                </div>
                <div class="col-md-12 text-center" style="margin-bottom: 15px;">
                    <img class="img-call" src="{{ asset('images/coins.png') }}">
                    <p style="display: inline-block; margin-left: 10px;">Стоимость:</p>
                    <p id="individualCallSum" class="big"></p>
                </div>
                <div class="Input">
                    {{ form_errors(individualCallform.name) }}
                    {{ form_widget(individualCallform.name, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Как вас зовут?'}}) }}
                </div>
                <div class="Input">
                    {{ form_errors(individualCallform.phone) }}
                    {{ form_widget(individualCallform.phone, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Номер телефона'}}) }}
                </div>
                <div class="Input">
                    {{ form_errors(individualCallform.notice) }}
                    {{ form_widget(individualCallform.notice, {'attr':{'class':'input-textarea', 'position': 'absolute','placeholder':'Примечания'}}) }}
                </div>
                <div style="display:none">
                    {{ form_widget(individualCallform.cities) }}
                    {{ form_widget(individualCallform.weight, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Вес\, кг','readonly':''}}) }}
                    {{ form_widget(individualCallform.sum, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Сумма','readonly':''}}) }}
                    {{ form_rest(individualCallform) }}
                </div>
                <div class="text-center" style="margin-bottom: 30px;">
                    <input class="button-log" value="Оформить заявку" type="submit">
                </div>
                {{ form_end(individualCallform) }}
            </div>
            <div style="display: none;" id="legal_form">
                {{ form_start(legalCallform) }}
                <h4 style="margin: 10px 20px 20px 20px; text-align: center;">Заявка для юридического лица</h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-12 text-center">
                            <img class="img-call" src="{{ asset('images/truck.png') }}">
                            <p style="display: inline-block; margin-left: 10px;">Габариты:</p>
                            <p id="legalCallWeight" class="big"></p>
                        </div>
                        <div class="col-md-12 text-center" style="margin-bottom: 15px;">
                            <img class="img-call" src="{{ asset('images/coins.png') }}">
                            <p style="display: inline-block; margin-left: 10px;">Стоимость:</p>
                            <p id="legalCallSum" class="big"></p>
                        </div>
                        <div class="Input">
                            {{ form_errors(legalCallform.organization) }}
                            {{ form_widget(legalCallform.organization, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Название организации'}}) }}
                        </div>
                        <div class="Input">
                            {{ form_errors(legalCallform.fullName) }}
                            {{ form_widget(legalCallform.fullName, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Контактное лицо', }}) }}
                        </div>
                        <div class="Input">
                            {{ form_errors(legalCallform.phone) }}
                            {{ form_widget(legalCallform.phone, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Телефон'}}) }}
                        </div>
                        <div class="Input">
                            {{ form_errors(legalCallform.code) }}
                            {{ form_widget(legalCallform.code, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Код'}}) }}
                        </div>
                        <div class="Input">
                            {{ form_errors(legalCallform.notice) }}
                            {{ form_widget(legalCallform.notice, {'attr':{'class':'input-textarea', 'position': 'absolute','placeholder':'Примечания'}}) }}
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="Input">
                            {{ form_errors(legalCallform.UNP) }}
                            {{ form_widget(legalCallform.UNP, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'УНП'}}) }}
                        </div>
                        <div class="Input">
                            {{ form_errors(legalCallform.bank) }}
                            {{ form_widget(legalCallform.bank, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Банк'}}) }}
                        </div>
                        <div class="Input">
                            {{ form_errors(legalCallform.addressOfTheBank) }}
                            {{ form_widget(legalCallform.addressOfTheBank, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Адресс банка'}}) }}
                        </div>
                        <div class="Input">
                            {{ form_errors(legalCallform.legalAddress) }}
                            {{ form_widget(legalCallform.legalAddress, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Юридический адресс'}}) }}
                        </div>
                        <div class="Input">
                            {{ form_errors(legalCallform.settlementAccount) }}
                            {{ form_widget(legalCallform.settlementAccount, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Расчётный счёт'}}) }}
                        </div>


                        <div style="display:none">
                            {{ form_widget(individualCallform.cities) }}
                            {{ form_widget(legalCallform.weight, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Вес\, кг','readonly':''}}) }}
                            {{ form_widget(legalCallform.sum, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Сумма','readonly':''}}) }}
                            {{ form_rest(legalCallform) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-center" style="margin-bottom: 20px; margin-top: 20px; ">
                    <input class="button-log" value="Оформить заявку" type="submit" onclick="city()">
                </div>
                {{ form_end(legalCallform) }}
            </div>
        </div>
        <a class="close" title="Закрыть" href="#close"></a>
    </div>
    <div class="container-fluid section-60" style="background-color: #8598ff;">
        <div class="row">
            <div class="col-md-8 col-md-push-2 text-center">

                <h2 style="color: white; margin-top: 0px;">Нет времени заполнять все поля?</h2>
                <p style="color: white; text-align: center; font-size: 20px;">Заполните быструю заявку и наши
                    специалисты свяжутся с Вами в ближайшее время для обсуждения заказа.</p>

                <a href="#win3" style="border: 3px solid #fff;" class="button-log">Оформить</a>
            </div>
        </div>
    </div>
    <section>
        <div class="section-60 bg-gradient-denim">
            <div class="bg-diamond-element"></div>
            <div class="shell text-center">
                <div class="range">
                    <div class="cell-xs-12">
                        <h2>Какие грузы мы доставляем?</h2>
                        <p class="big col-md-10 col-md-push-1">Мы осуществляем доставку грузов любых размеров массой до
                            2 тонн, от конверта до
                            крупногабаритного груза.</p>
                    </div>
                </div>
            </div>
            <div class="section-top-40">
                <div class="shell-wide shell-mod-1">
                    <div class="range">
                        <!-- Slick Carousel-->
                        <div class="slick-slider slick-slider-style-1" data-arrows="true" data-loop="true"
                             data-dots="false"
                             data-swipe="true" data-items="1" data-sm-items="3" data-md-items="3" data-lg-items="4"
                             data-xl-items="6" data-slide-to-scroll="1" data-mobile-center-mode="true"
                             data-sm-center-mode="false" data-center-padding="30px" data-sm-center-padding="0.5">
                            <div class="item height-fill">
                                <div class="product"><img
                                            src="{{ asset('images/product-2.png') }}" alt=""/>
                                    <div class="product-caption">
                                        <div class="divider divider-sm divider-primary"></div>
                                        <div class="product-title">
                                            <h3 style="font-size: 18px;">Посылки</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item height-fill">
                                <div class="product"><img
                                            src="{{ asset('images/product-6.png') }}" alt=""/>
                                    <div class="product-caption">
                                        <div class="divider divider-sm divider-primary"></div>
                                        <div class="product-title">
                                            <h3 style="font-size: 18px;">Мебель</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item height-fill">
                                <div class="product"><img
                                            src="{{ asset('images/product-7.png') }}" alt=""/>
                                    <div class="product-caption">
                                        <div class="divider divider-sm divider-primary"></div>
                                        <div class="product-title">
                                            <h3 style="font-size: 18px;">Различные товары</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item height-fill">
                                <div class="product"><img
                                            src="{{ asset('images/product-8.png') }}" alt=""/>
                                    <div class="product-caption">
                                        <div class="divider divider-sm divider-primary"></div>
                                        <div class="product-title">
                                            <h3 style="font-size: 18px;">Корреспонденция</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item height-fill">
                                <div class="product"><img
                                            src="{{ asset('images/product-9.png') }}" alt=""/>
                                    <div class="product-caption">
                                        <div class="divider divider-sm divider-primary"></div>
                                        <div class="product-title">
                                            <h3 style="font-size: 18px;">Мелкие пакеты</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item height-fill">
                                <div class="product"><img
                                            src="{{ asset('images/product-10.png') }}" alt=""/>
                                    <div class="product-caption">
                                        <div class="divider divider-sm divider-primary"></div>
                                        <div class="product-title">
                                            <h3 style="font-size: 18px;">Документы</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-60">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-push-1">
                    {{ seo.text|raw }}
                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid section-60" style="background-color: #8598ff;">
        <div class="row">
            <div class="col-md-8 col-md-push-2 text-center">

                <h2 style="color: white; margin-top: 0px;">Каждая 7-ая доставка бесплатно!</h2>
                <p style="color: white; text-align: center; font-size: 20px;">Каждая 7-ая передача до 100кг от склада до склада совершенно бесплатно!</p>
                <a href="#raschet" style="border: 3px solid #fff;" class="button-log">Оформить доставку</a>
            </div>
        </div>
    </div>
    <div class="container section-60">
        <div class="row">
            <div class="col-md-12">
                <h2>Зоны обслуживания:</h2>
            </div>
            <div class="offset-top-22 offset-md-top-40 col-md-6">

                <h4 class="text-title-map"><i class="fa fa-map-marker" aria-hidden="true"></i> Наш адрес в Минске:
                </h4>

                <div class="col-md-6">
                    <div class="text-map">
                        <b>Склад:</b> г. Минск, ул. Харьковская 90, этаж 2,</br><b>Офис:</b> г. Минск, ул.
                        Харьковская
                        90, этаж 2,
                        кабинет 8</br>
                        <b>Время работы:</b></br>9.00 - 21.00,</br>Без выходных
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-map"><b>Контакты для связи:</b></br>
                        <a href="tel:+375298381288"><span>+375(29)838-12-88</span></a></br>
                        <a href="tel:+375296121188"><span>+375(29)612-11-88</span></a></br>
                        <a href="mailto:info@gobusgo.by"><span>info@gobusgo.by</span></a>
                    </div>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d104111.24204511433!2d27.464534885919846!3d53.897461316799394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbdaaca271ed37%3A0x67d7afd2c4446992!2z0YPQuy4g0KXQsNGA0YzQutC-0LLRgdC60LDRjyA5MCwg0JzQuNC90YHQug!5e0!3m2!1sru!2sby!4v1540163503883" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="offset-top-22 offset-md-top-40 col-md-6">
                <h4 class="text-title-map"><i class="fa fa-map-marker" aria-hidden="true"></i> Наш адрес в Москве:
                </h4>

                <div class="col-md-6">
                    <div class="text-map"><b>Склад:</b> г. Москва, улица Перерва 11, стр 27</br><b>Офис:</b>
                        г. Москва, улица Перерва 11, стр 27</br>
                        <b>Время работы:</b></br>9.00 - 21.00,</br>Без выходных
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-map"><b>Контакты для связи:</b></br>
                        <a href="tel:+79032230250"><span>+7(903)223-02-50</span></a></br>
                        <a href="mailto:info@gobusgo.ru"><span>info@gobusgo.ru</span></a>
                    </div>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d241691.04197232757!2d37.517485994432384!3d55.75236978111817!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414ab475348def13%3A0x70dca6aad8191ece!2z0YPQuy4g0J_QtdGA0LXRgNCy0LAsIDExLCDQnNC-0YHQutCy0LAsINCg0L7RgdGB0LjRjywgMTA5NjUx!5e0!3m2!1sru!2sby!4v1540385920117" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>

            </div>

        </div>
    </div>
    <script language="JavaScript">
        function sum() {
            var legalForm = document.getElementById('legal_form');
            var individualForm = document.getElementById('individual_form');
            if (document.getElementById('legalRadio').checked) {
                legalForm.style.display = 'block';
                individualForm.style.display = 'none';
            }
            else if (document.getElementById('individualRadio').checked){
                individualForm.style.display = 'block';
                legalForm.style.display = 'none';
            }
            var weight = parseInt(document.getElementById('weight').value);
            var sum = document.getElementById('sum');
            // sum.value = 5 * type + parseInt(weight.value) + ' BYN';
            if (weight <= 1) {
                sum.value = 25 + ' BYN';
            }
            else if (weight >= 2 && weight <= 10) {
                sum.value = 35 + ' BYN';
            }
            else if (weight >= 11 && weight <= 20) {
                sum.value = 42 + ' BYN';
            }
            else if (weight >= 21 && weight <= 40) {
                sum.value = 51 + ' BYN';
            }
            else if (weight >= 41 && weight <= 60) {
                sum.value = 60 + ' BYN';
            }
            else if (weight >= 61 && weight <= 80) {
                sum.value = 68 + ' BYN';
            }
            else if (weight >= 81 && weight <= 100) {
                sum.value = 85 + ' BYN';
            }
            else if (weight >= 101 && weight <= 150) {
                sum.value = 110 + ' BYN';
            }
            else if (weight >= 151 && weight <= 200) {
                sum.value = 150 + ' BYN';
            }
            else if (weight >= 200 && weight <= 300) {
                sum.value = 200 + ' BYN';
            }
            else {
                sum.value = 0 + ' BYN';
            }
        }
        function openform() {
            var weight = document.getElementById('weight').value;
            var sum = document.getElementById('sum').value;
            if(!weight){
                document.getElementById('errorMessage').innerHTML = '* Заполните это поле';

            }
            else {
                window.location.hash = 'orderForm';
                document.getElementById('errorMessage').innerHTML = '';

                document.getElementById('legalCallWeight').innerHTML = weight + ' КГ';
                document.getElementById('legalCallSum').innerHTML = sum;
                document.getElementById('legal_call_weight').value = weight + ' КГ';
                document.getElementById('legal_call_sum').value = sum;

                document.getElementById('individualCallWeight').innerHTML = weight + ' КГ';
                document.getElementById('individualCallSum').innerHTML = sum;
                document.getElementById('individual_call_weight').value = weight + ' КГ';
                document.getElementById('individual_call_sum').value = sum;
            }
        }
    </script>
    <div class="divider-home"></div>
    {% include 'GobusgoGobusgoBundle:Blog:blogLatest.html.twig' %}

{% endblock %}