{% extends '@GobusgoGobusgo/layout.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-push-1">
                <h1>Грузоперевозки Москва <i class="fa fa-arrows-h" aria-hidden="true"></i> Минск</h1>
                <p class="text-center" style="font-size: 20px; line-height: 24px;">В наше время различная деятельность
                    разных компаний
                    не обходится без очень тесного сотрудничества с компаниями, которые занимаются грузоперевозками
                    (транспортно-экспедиционная компания). Для многих компаний качественная, быстрая, своевременная
                    доставка
                    различного груза является одним из важнейших факторов, которые влияют на развитие и стабильность
                    данной
                    компании. Для частных компаний высокий уровень оказания транспортных услуг является не менее важным,
                    потому
                    что это залог уверенности и полного спокойствия во время перевозки имущества. Вследствие этого с
                    каждым
                    годом интерес и спрос на различные грузоперевозки растёт и растёт.</p>
            </div>
        </div>
    </div>
    <div class="container road-loptop" style="width: 1170px;">
        <div class="row">
            <h2>Расчет стоимости грузоперевозки:</h2>
            <span class="road-text-1">Клиент</span>
            <span class="road-text-2">Габариты</span>
            <span class="road-text-3">Город</span>
            <span class="road-text-4">Итого</span>
            <img class="reload-img" src="{{ asset('images/reload-double.png') }}" onclick="reload();">
            <span class="line-1"></span>
            <span class="line-2"></span>
            <span class="line-3"></span>
            <span class="line-4"></span>
            <span class="line-5"></span>
            <span class="line-6"></span>
            <span class="line-7"></span>
            <span class="line-8"></span>
            <span class="line-9"></span>
            <span class="line-10"></span>


            <div class="Input-1">
                <i class="fa fa-chevron-left" aria-hidden="true"
                   style="position: absolute; margin-left: 160px; margin-top: 17px; font-size: 20px; color: #7d88ff;"></i>
                <input id="weight" class="Input-text-1" style="position: absolute" placeholder="Вес, кг"
                       onchange="sum()">
            </div>
            <div>
                <div class="Input-2">
                    <i class="fa fa-chevron-right" aria-hidden="true"
                       style="position: absolute; margin-left: -19px; margin-top: 16px; font-size: 20px; color: #7d88ff;"></i>

                    <input class="Input-text-3" id="one" name="from"
                           style="position: absolute;" value="Москва" readonly/>
                </div>
                <div class="Input-3">
                    <i class="fa fa-chevron-right" aria-hidden="true"
                       style="position: absolute; margin-left: -19px; margin-top: 15px; font-size: 20px; color: #7d88ff;"></i>

                    <input class="Input-text-3" id="two" name="to"
                           style="position: absolute;" value="Минск" readonly/>
                </div>
            </div>

            <div class="Input-4">
                <i class="fa fa-chevron-left" aria-hidden="true"
                   style="position: absolute; margin-left: 152px; margin-top: 17px; font-size: 20px; color: #7d88ff;"></i>
                <input id="sum" class="Input-text-1" style="position: absolute" placeholder="Сумма" readonly>
            </div>
            <div class="radio-cargo">
                <label>
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    Юридическое лицо
                    <input type="radio" class="option-input radio" name="example" id="legal" onchange="sum()" checked/>

                </label>
                <label>
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    Физическое лицо
                    <input type="radio" class="option-input radio" name="example" id="individual" onchange="sum()"/>
                </label>
            </div>
            <div style="text-align: center;">
                <img src="{{ asset('images/road.png') }}" style="width: 800px;">
            </div>

            {#TODO: сделать форму для юр лица#}


            <a href="#x" class="overlay" id="legal-form">
            </a>
            <div class="popup">
                <div class="section bg-gray-light container-fluid">

                    <div id="legal_form">

                        {{ form_start(legalCallform) }}
                        <h2>Заявка для юридического лица</h2>
                        <div class="col-md-6">
                            <div class="Input" style="display:none;">
                                {{ form_errors(legalCallform.weight) }}
                                {{ form_widget(legalCallform.weight, {'attr':{'class':'Input-text', 'position': 'absolute','placeholder':'Вес\, кг', 'onchange':'sum()','readonly':''}}) }}
                            </div>
                            <div class="Input" style="display:none;">
                                <input class="Input-text" id="formLegalOne" position="absolute" readonly/>
                            </div>
                            <div class="Input" style="display:none;">
                                <input class="Input-text" id="formLegalTwo" position="absolute" readonly/>
                            </div>

                            <div class="Input" style="display:none;">
                                {{ form_errors(legalCallform.sum) }}
                                {{ form_widget(legalCallform.sum, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Сумма','readonly':''}}) }}
                            </div>
                            <div class="Input">
                                {{ form_errors(legalCallform.organization) }}
                                {{ form_widget(legalCallform.organization, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Название организации?'}}) }}
                            </div>
                            <div class="Input">
                                {{ form_errors(legalCallform.fullName) }}
                                {{ form_widget(legalCallform.fullName, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Контактное лицо'}}) }}
                            </div>
                            <div class="Input">
                                {{ form_errors(legalCallform.phone) }}
                                {{ form_widget(legalCallform.phone, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'телефон'}}) }}
                            </div>
                            <div class="Input">
                                {{ form_errors(legalCallform.code) }}
                                {{ form_widget(legalCallform.code, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Код'}}) }}
                            </div>
                            <div class="Input">
                                {{ form_errors(legalCallform.notice) }}
                                {{ form_widget(legalCallform.notice, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Примечания'}}) }}
                            </div>

                        </div>
                        <div class="col-md-6">

                            <div class="Input">
                                {{ form_errors(legalCallform.UNP) }}
                                {{ form_widget(legalCallform.UNP, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'УНП'}}) }}
                            </div>
                            <div class="Input">
                                {{ form_errors(legalCallform.bank) }}
                                {{ form_widget(legalCallform.bank, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Банк'}}) }}
                            </div>
                            <div class="Input">
                                {{ form_errors(legalCallform.addressOfTheBank) }}
                                {{ form_widget(legalCallform.addressOfTheBank, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Адресс банка'}}) }}
                            </div>
                            <div class="Input">
                                {{ form_errors(legalCallform.legalAddress) }}
                                {{ form_widget(legalCallform.legalAddress, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Юридический адресс'}}) }}
                            </div>
                            <div class="Input">
                                {{ form_errors(legalCallform.settlementAccount) }}
                                {{ form_widget(legalCallform.settlementAccount, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Расчётный счёт'}}) }}
                            </div>


                            <div style="display:none">
                                {{ form_widget(legalCallform.height) }}
                                {{ form_widget(legalCallform.lenght) }}
                                {{ form_widget(legalCallform.width) }}
                                {{ form_widget(legalCallform.cities) }}

                                {{ form_rest(legalCallform) }}
                            </div>
                        </div>

                        <div class="col-md-12 text-center" style="margin-bottom: 20px; margin-top: 20px; ">
                            <input class="button-log" value="Оформить заявку" type="submit" onclick="city()">
                        </div>
                        {{ form_end(legalCallform) }}
                    </div>


                    <div style="display: none;" id="individual_form">
                        {{ form_start(individualCallform) }}
                        <h2>Заявка для физического лица</h2>

                        <div class="Input" style="display: none;">
                            {{ form_errors(individualCallform.weight) }}
                            {{ form_widget(individualCallform.weight, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Вес\, кг','readonly':''}}) }}
                        </div>
                        <div class="Input" style="display: none;">
                            <input class="Input-text" id="formIndividualOne" name="from"
                                   position="absolute" value="" readonly/>
                        </div>
                        <div class="Input" style="display: none;">
                            <input class="Input-text" id="formIndividualTwo" name="to"
                                   position="absolute" value="" readonly/>
                        </div>
                        <div class="Input" style="display: none;">
                            {{ form_errors(individualCallform.sum) }}
                            {{ form_widget(individualCallform.sum, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Сумма','readonly':''}}) }}
                        </div>


                        <div class="Input">
                            {{ form_errors(individualCallform.name) }}
                            {{ form_widget(individualCallform.name, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Как вас зовут?'}}) }}
                        </div>
                        <div class="Input">
                            {{ form_errors(individualCallform.phone) }}
                            {{ form_widget(individualCallform.phone, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Номер телефона'}}) }}
                        </div>
                        <div class="Input">
                            {{ form_errors(individualCallform.notice) }}
                            {{ form_widget(individualCallform.notice, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Примечания'}}) }}
                        </div>

                        <div style="display:none">
                            { form_widget(legalCallform.height) }}
                            {{ form_widget(legalCallform.lenght) }}
                            {{ form_widget(legalCallform.width) }}
                            {{ form_widget(individualCallform.cities) }}

                            {{ form_rest(individualCallform) }}
                        </div>

                        <div class="text-center" style="margin-bottom: 30px;">
                            <input class="button-log" value="Оформить заявку" type="submit" onclick="city()">
                        </div>
                        {{ form_end(individualCallform) }}
                    </div>

                </div>

                <a class="close" title="Закрыть" href="#close"></a>
            </div>

            <div class="text-center" style="margin: 20px;">
                <a style="padding: 10px 20px; font-size: 20px;" class="button-log" href="#legal-form"
                   onclick="openform()">Оформление
                    заявки</a>
            </div> {#<img src="{{ asset('images/tablet.png') }}" width="800px;">#}
        </div>
    </div>

    <div class="container-fluid road-tablet">
        <div class="row">

            <div class="col-md-3 col-sm-3 col-xs-3">
                <div style="height: 123px;">
                    <h3 class="road-tablet-title">Клиент</h3>
                </div>

                <div style="height: 123px;">
                    <h3 class="road-tablet-title">Габариты</h3>
                </div>
                <div style="height: 123px;">
                    <h3 class="road-tablet-title">Город</h3>
                </div>
                <div style="height: 123px;">
                    <h3 class="road-tablet-title">ИТОГО</h3>
                </div>
                <div style="height: 123px;">
                    <h3 class="road-tablet-title">Заявка</h3>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2" style="text-align:center;">
                <img src="{{ asset('images/road-tablet.png') }}" width="60px">
            </div>
            <div class="col-md-7 col-sm-7 col-xs-7">
                <div style="height: 124px;">
                    <div class="radio-cargo-tablet">
                        <label style="display: block; font-size: 18px; line-height: 20px;">
                            <input type="radio" class="option-input radio" name="example" style="margin-top: 5px;"
                                   checked/>
                            Юридическое лицо


                        </label>
                        <label style="display: block; font-size: 18px; ">
                            <input type="radio" class="option-input radio" style="margin-top: 5px;" name="example"/>
                            Физическое лицо

                        </label>
                    </div>
                </div>
                <div style="height: 123px; padding-top: 10px;">
                    <input class="input-tablet" type="text" id="weight" name="weight"
                           required="required" style="position: absolute;" placeholder="Вес, кг"/>
                </div>

                <div style="height: 123px; padding-top: 10px;">
                    <div style="padding-bottom: 10px;">
                        <input class="input-tablet" type="text" name="from" id="from"
                               required="required" value="Москва"/>
                    </div>
                    <div style="padding-bottom: 10px;">
                        <input class="input-tablet" type="text"
                               required="required" value="Минск" name="to" id="to"/>
                    </div>
                </div>
                <img class="reload-img-tablet" src="{{ asset('images/reload-double.png') }}" onclick="c();">
                <div style="height: 123px; padding-top: 10px;">
                    <input class="input-tablet" type="text" name="price" id="price"
                           required="required" placeholder="Сумма"/>
                </div>

                <div style="padding-top: 8px;">
                    {#<div style="padding-bottom: 10px;">#}
                    {#<input class="input-tablet-form" type="text" id="weight" name="weight"#}
                    {#required="required" placeholder="Название организации"/>#}
                    {#</div>#}
                    {#<div style="padding-bottom: 10px;">#}
                    {#<input class="input-tablet-form" type="text" id="weight" name="weight"#}
                    {#required="required" placeholder="УНП"/>#}
                    {#</div>#}
                    {#<div style="padding-bottom: 10px;">#}
                    {#<input class="input-tablet-form" type="text" id="weight" name="weight"#}
                    {#required="required" placeholder="Банк"/>#}
                    {#</div>#}
                    {#<div style="padding-bottom: 10px;">#}
                    {#<input class="input-tablet-form" type="text" id="weight" name="weight"#}
                    {#required="required" placeholder="Адрес банка"/>#}
                    {#</div>#}
                    {#<div style="padding-bottom: 10px;">#}
                    {#<input class="input-tablet-form" type="text" id="weight" name="weight"#}
                    {#required="required" placeholder="Юридический адрес"/>#}
                    {#</div>#}
                    {#<div style="padding-bottom: 10px;">#}
                    {#<input class="input-tablet-form" type="text" id="weight" name="weight"#}
                    {#required="required" placeholder="Расчетный счет"/>#}
                    {#</div>#}
                    {#<div style="padding-bottom: 10px;">#}
                    {#<input class="input-tablet-form" type="text" id="weight" name="weight"#}
                    {#required="required" placeholder="Код"/>#}
                    {#</div>#}
                    {#<div style="padding-bottom: 10px;">#}
                    {#<input class="input-tablet-form" type="text" id="weight" name="weight"#}
                    {#required="required" placeholder="Контактное лицо"/>#}
                    {#</div>#}
                    {#<div style="padding-bottom: 10px;">#}
                    {#<input class="input-tablet-form" type="text" id="weight" name="weight"#}
                    {#required="required" placeholder="Номер телефона для связи"/>#}
                    {#</div>#}
                    <input class="button-log" value="Отправить заявку" type="submit">
                </div>
            </div>

        </div>
    </div>

    <div class="container-fluid road-mobile">
        <div class="row">
            <div class="col-xs-3">
                <img src="{{ asset('images/road-tablet.png') }}" width="60px">
            </div>
            <div class="col-xs-9">
                <div style="height: 124px;">
                    <h3 class="road-mobile-title">Клиент</h3>
                    <div class="radio-cargo-mobile">
                        <label style="display: block; font-size: 14px; margin-bottom: 0px;">
                            <input type="radio" style="margin-top: 0px;" class="option-input radio" name="example"
                                   checked/>
                            Юридическое лицо
                        </label>
                        <label style="display: block; font-size: 14px;">
                            <input type="radio" style="margin-top: 0px;" class="option-input radio" name="example"/>
                            Физическое лицо
                        </label>
                    </div>
                </div>
                <div style="height: 124px; padding-top: 10px;">
                    <h3 class="road-mobile-title" style="margin-bottom: 5px;">Габариты</h3>
                    <input class="input-tablet" type="text" id="weight" name="weight"
                           required="required" placeholder="Вес, кг"/>
                </div>

                <div style="height: 124px; width: 80%; display: inline-block;">
                    <h3 class="road-mobile-title" style="margin-bottom: 5px;">Город</h3>
                    <div style="padding-bottom: 5px;">
                        <input class="input-tablet" type="text" name="from" id="from"
                               required="required" placeholder="Откуда"/>
                    </div>
                    <div style="padding-bottom: 5px;">
                        <input class="input-tablet" type="text"
                               required="required" placeholder="Куда" name="to" id="to"/>
                    </div>
                </div>
                {#<div>#}
                {#<img class="reload-img-tablet" src="{{ asset('images/reload-double.png') }}" onclick="c();">#}
                {#</div>#}

                <div style="height: 124px;">
                    <h3 class="road-mobile-title" style="margin-bottom: 5px;">ИТОГО</h3>
                    <input class="input-tablet" type="text" name="price" id="price"
                           required="required" placeholder="Сумма"/>
                </div>

                <div>
                    {#<h3 class="road-mobile-title" style="margin-bottom: 10px;">Оформление:</h3>#}
                    {#<div style="padding-bottom: 10px;">#}
                    {#<input class="input-mobile-form" type="text" id="weight" name="weight"#}
                    {#required="required" placeholder="Название организации"/>#}
                    {#</div>#}
                    {#<div style="padding-bottom: 10px;">#}
                    {#<input class="input-mobile-form" type="text" id="weight" name="weight"#}
                    {#required="required" placeholder="УНП"/>#}
                    {#</div>#}
                    {#<div style="padding-bottom: 10px;">#}
                    {#<input class="input-mobile-form" type="text" id="weight" name="weight"#}
                    {#required="required" placeholder="Банк"/>#}
                    {#</div>#}
                    {#<div style="padding-bottom: 10px;">#}
                    {#<input class="input-mobile-form" type="text" id="weight" name="weight"#}
                    {#required="required" placeholder="Адрес банка"/>#}
                    {#</div>#}
                    {#<div style="padding-bottom: 10px;">#}
                    {#<input class="input-mobile-form" type="text" id="weight" name="weight"#}
                    {#required="required" placeholder="Юридический адрес"/>#}
                    {#</div>#}
                    {#<div style="padding-bottom: 10px;">#}
                    {#<input class="input-mobile-form" type="text" id="weight" name="weight"#}
                    {#required="required" placeholder="Расчетный счет"/>#}
                    {#</div>#}
                    {#<div style="padding-bottom: 10px;">#}
                    {#<input class="input-mobile-form" type="text" id="weight" name="weight"#}
                    {#required="required" placeholder="Код"/>#}
                    {#</div>#}
                    {#<div style="padding-bottom: 10px;">#}
                    {#<input class="input-mobile-form" type="text" id="weight" name="weight"#}
                    {#required="required" placeholder="Контактное лицо"/>#}
                    {#</div>#}
                    {#<div style="padding-bottom: 10px;">#}
                    {#<input class="input-mobile-form" type="text" id="weight" name="weight"#}
                    {#required="required" placeholder="Номер телефона для связи"/>#}
                    {#</div>#}
                    <input class="button-log" value="Отправить заявку" type="submit">


                </div>
            </div>
        </div>
    </div>

    <div class="divider-home"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-push-1">
                <p class="text-center" style="font-size: 20px; line-height: 24px;">В наше время различная деятельность
                    разных компаний
                    не обходится без очень тесного сотрудничества с компаниями, которые занимаются грузоперевозками
                    (транспортно-экспедиционная компания). Для многих компаний качественная, быстрая, своевременная
                    доставка
                    различного груза является одним из важнейших факторов, которые влияют на развитие и стабильность
                    данной
                    компании. Для частных компаний высокий уровень оказания транспортных услуг является не менее важным,
                    потому
                    что это залог уверенности и полного спокойствия во время перевозки имущества. Вследствие этого с
                    каждым
                    годом интерес и спрос на различные грузоперевозки растёт и растёт.</p>
            </div>
        </div>
    </div>
    <div class="divider-home"></div>
    <div class="container">
        <div class="row">
            <h2>Дополнительные услуги:</h2>
            <div class="table-services-minsk">
                <table>
                    <tr>
                        <td colspan="5">Добавить или забрать, направление по адресу:<br></td>
                    </tr>
                    <tr>
                        <td>Вес посылки, кг<br></td>
                        <td>Минск<br></td>
                        <td>По беларуси<br></td>
                        <td>Москва (в пределах мкад)<br></td>
                        <td>В любой точку московской области<br></td>
                    </tr>
                    <tr>
                        <td>0-2 кг</td>
                        <td>8р</td>
                        <td>12р</td>
                        <td>30р</td>
                        <td>45р</td>
                    </tr>
                    <tr>
                        <td>3-9 кг</td>
                        <td>8р</td>
                        <td>12р</td>
                        <td>30р</td>
                        <td>45р</td>
                    </tr>
                    <tr>
                        <td>10-19 кг</td>
                        <td>8р</td>
                        <td>12р</td>
                        <td>30р</td>
                        <td>45р</td>
                    </tr>
                    <tr>
                        <td>10-29 кг<br></td>
                        <td>8р</td>
                        <td>12р</td>
                        <td>30р</td>
                        <td>45р</td>
                    </tr>
                    <tr>
                        <td>30-49 кг<br></td>
                        <td>8р</td>
                        <td>12р</td>
                        <td>30р</td>
                        <td>45р</td>
                    </tr>
                    <tr>
                        <td>50-100 кг<br></td>
                        <td>8р</td>
                        <td>12р</td>
                        <td>30р</td>
                        <td>45р</td>
                    </tr>
                    <tr>
                        <td>за послед. кг<br></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>200 кг<br></td>
                        <td>20р<br></td>
                        <td>50р<br></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>за послед. кг</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>500 кг<br></td>
                        <td>20р</td>
                        <td>50р</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>за послед. кг</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>700 кг<br></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>



    <div class="container">
        <div class="row">
            <h2>Зоны обслуживания:</h2>
            <div class="col-md-6">

                <div class="text-title-map"><i class="fa fa-map-marker" aria-hidden="true"></i> Наш адрес в Минске:
                </div>

                <div class="col-md-6">
                    <div class="text-map">Склад: Пр. Дзержинского</br>Офис: Пр. Дзержинского</div>
                </div>
                <div class="col-md-6">
                    <div class="text-map">Время работы: 9.00 - 21.00</br>Телефон: +375(17)333-33-33</div>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d150474.39557313913!2d27.40249134812782!3d53.89331684651622!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcfd35b1e6ad3%3A0xb61b853ddb570d9!2z0JzQuNC90YHQug!5e0!3m2!1sru!2sby!4v1523641166856"
                        width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <div class="text-title-map"><i class="fa fa-map-marker" aria-hidden="true"></i> Наш адрес в Москве:
                </div>

                <div class="col-md-6">
                    <div class="text-map">Склад: Пр. Победителей</br>Офис: Пр. Подбедителей</div>
                </div>
                <div class="col-md-6">
                    <div class="text-map">Время работы: 9.00 - 21.00</br>Телефон: +7(495)333-33-33</div>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d287423.6776157171!2d37.35231573882835!3d55.74985979694972!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54afc73d4b0c9%3A0x3d44d6cc5757cf4c!2z0JzQvtGB0LrQstCwLCDQoNC-0YHRgdC40Y8!5e0!3m2!1sru!2sby!4v1523641073490"
                        width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <script language="JavaScript">
        function reload() {
            var one = document.getElementById("one");
            var two = document.getElementById("two");
            if (one.value === 'Москва') {
                one.value = 'Минск';
                two.value = 'Москва';
            }
            else {
                one.value = 'Москва';
                two.value = 'Минск';
            }
        }

        function sum() {
            var type, form, form2;
            if (document.getElementById('legal').checked) {
                type = 2;
                form = document.getElementById('legal_form')
                form.style.display = 'block';
                form2 = document.getElementById('individual_form')
                form2.style.display = 'none';
            }
            else {
                type = 1;
                form = document.getElementById('individual_form');
                form.style.display = 'block';
                form2 = document.getElementById('legal_form');
                form2.style.display = 'none';
            }
            var weight = document.getElementById('weight');
            var sum = document.getElementById('sum');
            sum.value = 5 * type + parseInt(weight.value) + ' BYN';
        }

        function city() {
            var city1 = document.getElementById('one').value;
            var city2 = document.getElementById('two').value;
            document.getElementById('legal_call_cities').value = city1 + '-' + city2;
            document.getElementById('individual_call_cities').value = city1 + '-' + city2;

        }

        function openform() {
            document.getElementById('legal_call_weight').value = document.getElementById('weight').value;
            document.getElementById('formLegalOne').value = document.getElementById('one').value;
            document.getElementById('formLegalTwo').value = document.getElementById('two').value;
            document.getElementById('legal_call_sum').value = document.getElementById('sum').value;

            document.getElementById('individual_call_weight').value = document.getElementById('weight').value;
            document.getElementById('formIndividualOne').value = document.getElementById('one').value;
            document.getElementById('formIndividualTwo').value = document.getElementById('two').value;
            document.getElementById('individual_call_sum').value = document.getElementById('sum').value;
        }
    </script>
{% endblock %}