{% extends '@GobusgoGobusgo/layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-push-1">
                <h1>{{ seoH1|raw }}</h1>
                {#<p class="text-center" style="font-size: 20px; line-height: 24px;">В современном ритме жизни мы постоянно сталкиваемся с необходимостью доставить груз по Беларуси, будь то товар из магазина или просто требуется передать посылку родственникам. Служба доставки GOBUSGO быстро и бережно справится с этой задачей.</p>#}
                {% if seo.intro is not empty %} {{ seo.intro|raw }} {% endif %}
            </div>
        </div>
    </div>

    <div class="container road-loptop">
        <div class="row" style="text-align: center;">
            <h2>Расчет стоимости грузоперевозки:</h2>
            <img src="{{ asset('images/road2.png') }}" style="width: 100%;">
            <div class="col-md-3">

                <h4 style="text-align: center;">Клиент</h4>
                <label>
                    Физическое лицо
                    <input type="radio" class="option-input radio" name="example" id="individual" onchange="sum()"/>
                </label>
                <label>

                    Юридическое лицо
                    <input type="radio" class="option-input radio" name="example" id="legal" onchange="sum()" checked/>

                </label>

            </div>
            <div class="col-md-3">

                <h4 style="text-align: center;">Габариты</h4>
                <div class="Input">

                    <input class="input-log" type="text" id="weight" name="_username" value="" required="required"
                           placeholder="Вес, кг">
                </div>
                <div class="Input">

                    <input class="input-log" type="text" id="lenght" name="_username" value="" required="required"
                           placeholder="Длинна">
                </div>
                <div class="Input">

                    <input class="input-log" type="text" id="width" name="_username" value="" required="required"
                           placeholder="Ширина">
                </div>
                <div class="Input">

                    <input class="input-log" type="text" id="height" name="_username" value="" required="required"
                           placeholder="Высота">
                </div>
            </div>
            <div class="col-md-3">
                <h4 style="text-align: center;">Направление</h4>
                <div class="Input">
                    <div id="city1area">

                        <select class="input-log select2-hidden-accessible" onchange="city()" id="city1">
                            <option>Откуда...</option>
                            {% for cities in cities %}
                                <option value="{{ cities.name }}">{{ cities.name }}</option>
                            {% endfor %}
                            <div class="selectize-dropdown single">
                                <div class="selectize-dropdown-content"></div>
                            </div>
                        </select>
                    </div>
                </div>
                <div class="Input">
                    <div id="city2area">
                        <select class="input-log" onchange="city()" id="city2">
                            <option>Куда...</option>
                            {% for cities in cities %}
                                <option value="{{ cities.name }}">{{ cities.name }}</option>
                            {% endfor %}
                            <div class="selectize-dropdown single">
                                <div class="selectize-dropdown-content"></div>
                            </div>
                        </select>
                    </div>
                </div>

                <div class="Input">
                    <div id="city3area" style="visibility: hidden">
                        <select class="input-log" onchange="city()" id="city3">
                            <option>Доп. пункт</option>
                            {% for cities in cities %}
                                <option value="{{ cities.name }}">{{ cities.name }}</option>
                            {% endfor %}
                            <div class="selectize-dropdown single">
                                <div class="selectize-dropdown-content"></div>
                            </div>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h4 style="text-align: center;">Сумма</h4>
                <div class="Input">

                    <input id="sum" class="input-log" placeholder="Сумма">
                </div>
                <div class="text-center">
                    <a style="padding: 10px 20px; font-size: 18px;" class="button-log" href="#legal-form"
                       onclick="openform()">Оформление
                        заявки</a>
                </div>
            </div>
        </div>
        <a href="#x" class="overlay" id="legal-form">
        </a>
        <div class="popup">
            <div class="section bg-gray-light container-fluid">


                <div style="display: none;" id="legal_form">
                    {{ form_start(legalCallform) }}
                    <h2 style="margin: 20px;">Заявка для юридического лица</h2>
                    <div class="col-md-6">
                        <div class="Input">
                            {{ form_errors(legalCallform.organization) }}
                            {{ form_widget(legalCallform.organization, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Название организации'}}) }}
                        </div>
                        <div class="Input">
                            {{ form_errors(legalCallform.fullName) }}
                            {{ form_widget(legalCallform.fullName, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Контактное лицо'}}) }}
                        </div>
                        <div class="Input">
                            {{ form_errors(legalCallform.phone) }}
                            {{ form_widget(legalCallform.phone, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Телефон'}}) }}
                        </div>
                        <div class="Input">
                            {{ form_errors(legalCallform.code) }}
                            {{ form_widget(legalCallform.code, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Код'}}) }}
                        </div>
                        <div class="Input">
                            {{ form_errors(legalCallform.notice) }}
                            {{ form_widget(legalCallform.notice, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Примечания'}}) }}
                        </div>

                        <div class="Input" style="display: none;">
                            {{ form_errors(legalCallform.weight) }}
                            {{ form_widget(legalCallform.weight, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Вес\, кг','readonly':''}}) }}
                        </div>
                        <div class="Input" style="display: none;">
                            {{ form_errors(legalCallform.height) }}
                            {{ form_widget(legalCallform.height, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Высота','readonly':''}}) }}
                        </div>
                        <div class="Input" style="display: none;">
                            {{ form_errors(legalCallform.lenght) }}
                            {{ form_widget(legalCallform.lenght, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Длинна','readonly':''}}) }}
                        </div>
                        <div class="Input" style="display: none;">
                            {{ form_errors(legalCallform.width) }}
                            {{ form_widget(legalCallform.width, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Глубина','readonly':''}}) }}
                        </div>
                        <div class="Input" style="display: none;">
                            <input class="Input-text" id="formLegalCity1" position="absolute" readonly/>
                        </div>
                        <div class="Input" style="display: none;">
                            <input class="Input-text" id="formLegalCity2" position="absolute" readonly/>
                        </div>
                        <div class="Input" style="display: none;">
                            <input class="Input-text" id="formLegalCity3" position="absolute" readonly/>
                        </div>
                        <div class="Input" style="display: none;">
                            {{ form_errors(legalCallform.sum) }}
                            {{ form_widget(legalCallform.sum, {'attr':{'class':'Input-text', 'position': 'absolute','placeholder':'Сумма', 'readonly':'true'}}) }}
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="Input">
                            {{ form_errors(legalCallform.UNP) }}
                            {{ form_widget(legalCallform.UNP, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'УНП'}}) }}
                        </div>
                        <div class="Input">
                            {{ form_errors(legalCallform.bank) }}
                            {{ form_widget(legalCallform.bank, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Банк'}}) }}
                        </div>
                        <div class="Input">
                            {{ form_errors(legalCallform.addressOfTheBank) }}
                            {{ form_widget(legalCallform.addressOfTheBank, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Адресс банка'}}) }}
                        </div>
                        <div class="Input">
                            {{ form_errors(legalCallform.legalAddress) }}
                            {{ form_widget(legalCallform.legalAddress, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Юридический адресс'}}) }}
                        </div>
                        <div class="Input">
                            {{ form_errors(legalCallform.settlementAccount) }}
                            {{ form_widget(legalCallform.settlementAccount, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Расчётный счёт'}}) }}
                        </div>


                        <div style="display:none">
                            {{ form_widget(legalCallform.cities) }}

                            {{ form_rest(legalCallform) }}
                        </div>
                    </div>

                    <div class="text-center col-md-12" style="margin-bottom: 20px; margin-top: 20px; ">
                        <input class="button-log" value="Оформить заявку" type="submit">
                    </div>
                    {{ form_end(legalCallform) }}
                </div>


                <div id="individual_form">
                    {{ form_start(individualCallform) }}
                    <h2>Заявка физического лица</h2>

                    <div class="Input" style="display:none;">
                        {{ form_errors(individualCallform.weight) }}
                        {{ form_widget(individualCallform.weight, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Вес\, кг','readonly':''}}) }}
                    </div>
                    <div class="Input" style="display:none;">
                        {{ form_errors(individualCallform.height) }}
                        {{ form_widget(individualCallform.height, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Высота','readonly':''}}) }}
                    </div>
                    <div class="Input" style="display:none;">
                        {{ form_errors(individualCallform.lenght) }}
                        {{ form_widget(individualCallform.lenght, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Длинна','readonly':''}}) }}
                    </div>
                    <div class="Input" style="display:none;">
                        {{ form_errors(individualCallform.width) }}
                        {{ form_widget(individualCallform.width, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Глубина','readonly':''}}) }}
                    </div>
                    <div class="Input" style="display:none;">
                        <input class="Input-text" id="formIndividualCity1" position="absolute" readonly/>
                    </div>
                    <div class="Input" style="display:none;">
                        <input class="Input-text" id="formIndividualCity2" position="absolute" readonly/>
                    </div>
                    <div class="Input" style="display:none;">
                        <input class="Input-text" id="formIndividualCity3" position="absolute" readonly/>
                    </div>
                    <div class="Input" style="display:none;">
                        {{ form_errors(individualCallform.sum) }}
                        {{ form_widget(individualCallform.sum, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Сумма','readonly':''}}) }}
                    </div>
                    <div class="Input">
                        {{ form_errors(individualCallform.name) }}
                        {{ form_widget(individualCallform.name, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Как вас зовут?'}}) }}
                    </div>
                    <div class="Input">
                        {{ form_errors(individualCallform.phone) }}
                        {{ form_widget(individualCallform.phone, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Номер телефона'}}) }}
                    </div>
                    <div class="Input">
                        {{ form_errors(individualCallform.notice) }}
                        {{ form_widget(individualCallform.notice, {'attr':{'class':'input-log', 'position': 'absolute','placeholder':'Примечания'}}) }}
                    </div>

                    <div style="display:none">
                        {{ form_widget(individualCallform.cities) }}

                        {{ form_rest(individualCallform) }}
                    </div>

                    <div class="text-center" style="margin: 20px;">
                        <input class="button-log" value="Оформить заявку" type="submit" onclick="city()">
                    </div>
                    {{ form_end(individualCallform) }}
                </div>

            </div>
            <a class="close" title="Закрыть" href="#close"></a>

        </div>

    </div>



    <div class="container-fluid road-tablet">
        <div class="row">

            <div class="col-md-3 col-sm-3 col-xs-3">
                <div style="height: 124px;">
                    <h3 class="road-tablet-title">Клиент</h3>
                </div>

                <div style="height: 124px;">
                    <h3 class="road-tablet-title">Габариты</h3>
                </div>
                <div style="height: 124px;">
                    <h3 class="road-tablet-title">Город</h3>
                </div>
                <div style="height: 124px;">
                    <h3 class="road-tablet-title">ИТОГО</h3>
                </div>
                <div style="height: 124px;">
                    <h3 class="road-tablet-title">Заявка</h3>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2" style="text-align:center;">
                <img src="{{ asset('images/road-tablet.png') }}" width="60px">
            </div>
            <div class="col-md-7 col-sm-7 col-xs-7">
                <div style="height: 124px;">
                    <div class="radio-cargo-tablet">
                        <label style="display: block; font-size: 18px; line-height: 20px;">

                            <input type="radio" class="option-input radio" name="example" style="margin-top: 5px;"
                                   checked/>
                            Юридическое лицо
                        </label>
                        <label style="display: block; font-size: 18px; ">

                            <input type="radio" class="option-input radio" style="margin-top: 5px;" name="example"/>
                            Физическое лицо
                        </label>
                    </div>
                </div>
                <div style="height: 124px; padding-top: 10px;">
                    <div class="col-xs-6" style="padding: 0px;">
                        <input class="input-log" style="padding: 5px 44px; height: auto;" type="text" id="weight"
                               name="weight"
                               required="required" placeholder="Вес, кг"
                               style="margin-bottom: 10px; margin-right: 10px;"/>
                        <input class="input-log" style="padding: 5px 44px; height: auto;" type="text" id="width"
                               name="width"
                               required="required" style="margin-bottom: 10px; margin-right: 10px;"
                               placeholder="Ширина"/>
                    </div>
                    <div class="col-xs-6" style="padding: 0px;">
                        <input class="input-log" style="padding: 5px 44px; height: auto;" type="text" id="height"
                               name="height"
                               required="required" style="margin-bottom: 10px; margin-right: 10px;"
                               placeholder="Высота"/>

                        <input class="input-log" style="padding: 5px 44px; height: auto;" type="text" id="lenght"
                               name="lenght"
                               required="required" style="margin-bottom: 10px; margin-right: 10px;"
                               placeholder="Длинна"/>
                    </div>
                </div>


                <div style="height: 124px; padding-top: 10px;">
                    <div style="padding-bottom: 10px;">

                        <div id="city1area">
                            <select class="input-log" style="padding: 5px 44px; height: auto;" onchange="city()"
                                    id="city1">
                                <option>Откуда...</option>
                                {% for cities in cities %}
                                    <option value="{{ cities.name }}">{{ cities.name }}</option>
                                {% endfor %}
                                <div class="selectize-dropdown single">
                                    <div class="selectize-dropdown-content"></div>
                                </div>
                            </select>
                        </div>


                    </div>
                    <div style="padding-bottom: 10px;">
                        <select class="input-log" style="padding: 5px 44px; height: auto;" onchange="city()" id="city2">
                            <option>Откуда...</option>
                            {% for cities in cities %}
                                <option value="{{ cities.name }}">{{ cities.name }}</option>
                            {% endfor %}
                            <div class="selectize-dropdown single">
                                <div class="selectize-dropdown-content"></div>
                            </div>
                        </select>
                    </div>
                </div>
                <div style="height: 124px; padding-top: 10px;">
                    <input class="input-log" style="padding: 5px 44px; height: auto;" type="text" name="price"
                           id="price"
                           required="required" placeholder="Сумма" style="display: block;"/>
                </div>

                <div>
                    <input class="button-log" value="Отправить заявку" type="submit">
                </div>
            </div>

        </div>
    </div>

    <div class="container-fluid road-mobile">
        <div class="row">
            <div class="col-xs-3">
                <img src="{{ asset('images/road-tablet.png') }}" width="60px">
            </div>
            <div class="col-xs-9">
                <div style="height: 124px;">
                    <h3 class="road-mobile-title">Клиент</h3>
                    <div class="radio-cargo-mobile">
                        <label style="display: block; font-size: 14px; margin-bottom: 0px;">
                            <input type="radio" style="margin-top: 0px;" class="option-input radio" name="example"
                                   checked/>
                            Юридическое лицо
                        </label>
                        <label style="display: block; font-size: 14px;">
                            <input type="radio" style="margin-top: 0px;" class="option-input radio" name="example"/>
                            Физическое лицо
                        </label>
                    </div>
                </div>
                <div style="height: 124px;">
                    <h3 class="road-mobile-title">Габариты</h3>
                    <div class="col-xs-6" style="padding: 0px 5px 0px 0px;">
                        <input class="input-log" style="padding: 5px 0px; height: auto;" type="text" id="weight"
                               name="weight"
                               required="required" placeholder="Вес, кг"
                               style="margin-bottom: 10px; margin-right: 10px;"/>
                        <input class="input-log" style="padding: 5px 0px; height: auto;" type="text" id="width"
                               name="width"
                               required="required" style="margin-bottom: 10px; margin-right: 10px;"
                               placeholder="Ширина"/>
                    </div>
                    <div class="col-xs-6" style="padding: 0px;">
                        <input class="input-log" style="padding: 5px 0px; height: auto;" type="text" id="height"
                               name="height"
                               required="required" style="margin-bottom: 10px; margin-right: 10px;"
                               placeholder="Высота"/>

                        <input class="input-log" style="padding: 5px 0px; height: auto;" type="text" id="lenght"
                               name="lenght"
                               required="required" style="margin-bottom: 10px; margin-right: 10px;"
                               placeholder="Длинна"/>
                    </div>
                </div>

                <div style="height: 134px; width: 80%;">
                    <h3 class="road-mobile-title" style="margin-bottom: 5px;">Город</h3>
                    <div style="padding-bottom: 5px;">
                        <input class="input-log" style="padding: 5px 44px; height: auto;" type="text" name="from"
                               id="from"
                               required="required" placeholder="Откуда"/>
                    </div>
                    <div style="padding-bottom: 5px;">
                        <input class="input-log" style="padding: 5px 44px; height: auto;" type="text"
                               required="required" placeholder="Куда" name="to" id="to"/>
                    </div>
                </div>
                <div style="height: 124px; margin-top: -10px;">
                    <h3 class="road-mobile-title" style="margin-bottom: 5px;">ИТОГО</h3>
                    <input class="input-log" style="padding: 5px 44px; height: auto;" type="text" name="price"
                           id="price"
                           required="required" placeholder="Сумма"/>
                </div>

                <div>
                    <h3 class="road-mobile-title" style="margin-bottom: 10px;">Оформление:</h3>
                    <input class="button-log" value="Отправить заявку" type="submit">


                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="background-color: #8598ff; padding: 40px 0px;">
        <div class="row">
            <div class="col-md-8 col-md-push-2 text-center">

                <h2 style="color: white; margin-top: 0px;">Нет времени заполнять все поля?</h2>
                <p style="color: white; text-align: center; font-size: 20px;">Заполните быструю заявку и наши
                    специалисты свяжутся с Вами в ближайшее время для обсуждения заказа.</p>

                <a href="#win3" class="button-log">Оформить</a>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-push-1">
                {#<h2>Почему GoBusGo?</h2>#}
                {#<p>Наши преимущества:</p>#}
                {#<ul class="list-marked">#}
                {#<li>осуществляем доставку в пределах РБ весом до 2 тонн,</li>#}
                {#<li>экспресс-доставка товаров по Беларуси - мы доставим ваш груз в течение 24 часов,</li>#}
                {#<li>мы ценим каждого клиента и создаем максимально простые и удобные условия доставки,</li>#}
                {#<li>выгодные тарифные ставки,</li>#}
                {#<li>скидки постоянным клиентам,</li>#}
                {#<li>большой собственный таксопарк и только опытные водители,</li>#}
                {#<li>самостоятельное отслеживание заказчиком местонахождение груза.</li>#}
                {#</ul>#}
                {#<p>#}
                {#Наша компания предоставляет полный спектр услуг: от забора груза от клиента до доставки товара до двери. Опытные специалисты возьмут на себя все заботы по оформлению документов и решению всех возникающих вопросов. Служба доставки товаров по Беларуси GOBUSGO ценит ваше время и деньги, поэтому мы обязуемся доставить товар максимально быстро и качественно.#}
                {#Почему стоит заказать доставку у нас? С нами вы получите:</p>#}
                {#<ul class="list-marked">#}
                {#<li>Самые выгодные цены на доставку по Беларуси.</li>#}
                {#<li>Мы гарантируем сохранность перевозимого товара.</li>#}
                {#<li>Оперативность и качество работы.</li>#}
                {#</ul>#}
                {#<p>Грузоперевозки с GOBUSGO – это просто, выгодно и надежно! Мы ценим каждого клиента!</p>#}
                {{ seo.text|raw }}
            </div>
        </div>
    </div>
    <script language="JavaScript">
        function sum() {
            var type, form, form2;
            if (document.getElementById('legal').checked) {
                type = 2;
                form = document.getElementById('legal_form')
                form.style.display = 'block';
                form2 = document.getElementById('individual_form')
                form2.style.display = 'none';
            }
            else {
                type = 1;
                form = document.getElementById('individual_form');
                form.style.display = 'block';
                form2 = document.getElementById('legal_form');
                form2.style.display = 'none';
            }
            var weight = document.getElementById('weight');
            var height = document.getElementById('height');
            var lenght = document.getElementById('lenght');
            var width = document.getElementById('width');

            var sum = document.getElementById('sum');
            sum.value = 5 * type + parseInt(weight.value) + parseInt(height.value) + parseInt(lenght.value) + parseInt(width.value) + ' BYN';
        }

        function city() {
            var city1 = document.getElementById('city1').value;
            var city2 = document.getElementById('city2').value;
            var city3 = document.getElementById('city3').value;
            document.getElementById('legal_call_cities').value = city1 + '-' + city3 + '-' + city2;
            document.getElementById('individual_call_cities').value = city1 + '-' + city3 + '-' + city2;

        }

        function openform() {
            document.getElementById('legal_call_weight').value = document.getElementById('weight').value;
            document.getElementById('legal_call_height').value = document.getElementById('height').value;
            document.getElementById('legal_call_lenght').value = document.getElementById('lenght').value;
            document.getElementById('legal_call_width').value = document.getElementById('width').value;

            document.getElementById('formLegalCity1').value = document.getElementById('city1').value;
            document.getElementById('formLegalCity2').value = document.getElementById('city2').value;
            document.getElementById('formLegalCity3').value = document.getElementById('city3').value;

            document.getElementById('legal_call_sum').value = document.getElementById('sum').value;


            document.getElementById('individual_call_weight').value = document.getElementById('weight').value;
            document.getElementById('individual_call_height').value = document.getElementById('height').value;
            document.getElementById('individual_call_lenght').value = document.getElementById('lenght').value;
            document.getElementById('individual_call_width').value = document.getElementById('width').value;

            document.getElementById('formIndividualCity1').value = document.getElementById('city1').value;
            document.getElementById('formIndividualCity2').value = document.getElementById('city2').value;
            document.getElementById('formIndividualCity3').value = document.getElementById('city3').value;

            document.getElementById('individual_call_sum').value = document.getElementById('sum').value;
        }

        function addCity(addCity, deleteCity, city3) {
            addCity = document.getElementById('addCity')
            addCity.style.visibility = 'hidden';
            city3 = document.getElementById('city3area');
            city3.style.visibility = 'visible';
            deleteCity = document.getElementById('deleteCity')
            deleteCity.style.visibility = 'visible';
        }

        function deleteCity(addCity, deleteCity, city3) {
            addCity = document.getElementById('addCity')
            addCity.style.visibility = 'visible';
            city3 = document.getElementById('city3area');
            city3.style.visibility = 'hidden';
            deleteCity = document.getElementById('deleteCity')
            deleteCity.style.visibility = 'hidden';

        }

    </script>

    {% include 'GobusgoGobusgoBundle:Blog:blogLatest.html.twig' %}



{% endblock %}