{% extends '@GobusgoGobusgo/layout.html.twig' %}
{% block header %}
    {% block callback %}
        <a href="#x" class="overlay" id="win3">
        </a>
        <div class="popup" style="max-width: 500px;">
            <div class="section bg-gray-light container-fluid">
                <h2 class="m-b-20">Заказ обратного звонка</h2>
                <div class="container-fluid">

                    {{ form_start(callform, { 'action': path('gobusgo_gobusgo_confirm'), 'method': 'POST' }) }}
                    {{ form_errors(callform) }}

                    <div class="form-group">
                        {{ form_widget(callform.name, {'attr':{'class':'input-log','placeholder':'Как вас зовут?'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(callform.phone, {'attr':{'class':'input-log','placeholder':'Номер телефона'}}) }}
                    </div>
                    <input type="submit" class="button-log" value="Отправить">
                    {{ form_end(callform) }}
                </div>
            </div>

            <a class="close" title="Закрыть" href="#close"></a>
        </div>
    {% endblock %}

    <header class="main-menu-area height-vh">
        <div class="header-desktop container-fluid p-0">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-12" style="padding: 0px;">
                    <div class="logo">

                        <a href="{{ path('gobusgo_gobusgo_homepage') }}">
                            <img src="{{ asset('images/logo.png') }}" alt="" width="150px;">
                        </a>
                    </div>
                    {#<div class="sale-top" style="margin-top: 20px;"><div class="gradient">Добро пожаловать на сайт GoBusGo.by</div></div>#}
                    <div class="accordion-wrapper">
                        {#<a href="#" class="mobile-open"><i class="fa fa-bars" style="font-size: 34px;"></i></a>#}
                        <a href="#" class="mobile-open">
                            <div class="hamburger hamburger--spin class-2">
                                <div class="hamburger-box">
                                    <div class="hamburger-inner"></div>
                                </div>
                            </div>
                        </a>
                        <!--Mobile Menu start-->
                        <ul id="mobilemenu" class="accordion">


                            <li class="start-li">
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <a style="margin-left: 15px;" class="btn-2"
                                       href="{{ path('sonata_admin_dashboard') }}"> {{ app.user.organization|slice(0,10) }} {% if app.user.organization|length > 10  %}...{% endif %}</a><a
                                        class="btn-3" href="{{ path('fos_user_security_logout') }}">
                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                </a>
                                {% else %}
                                    <a class="btn-2"
                                       href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a><a class="btn-3"
                                       href="{{ path('sonata_admin_dashboard') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                                {% endif %}

                                {#<a class="closeme" href="#" style="display: inline-block;"><i#}
                                {#class="fa fa-times"></i></a>#}
                                <a class="closeme" href="#" style="display: inline-block;">
                                    <div class="hamburger hamburger--spin class-1 is-active">
                                        <div class="hamburger-box">
                                            <div class="hamburger-inner"></div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="out-link">
                                <a href="{{ path('gobusgo_gobusgo_about') }}">О нас</a></li>
                            <li class="link out-link">

                                <a href="{{ path('gobusgo_gobusgo_deliveryMoscowMinsk') }}">Москва - Минск</a>


                            </li>
                            <li class="link out-link">
                                <a href="{{ path('gobusgo_gobusgo_deliveryMinsk') }}">По Минску</a>
                            </li>
                            <li class="link out-link">
                                <a href="{{ path('gobusgo_gobusgo_deliveryRB') }}">По Беларуси</a>
                            </li>
                            <li class="link out-link">
                                <a class="" href="{{ path('gobusgo_gobusgo_blog') }}">Новости</a>
                            </li>
                            {#<li class="link out-link">#}
                            {#<a class="" href="index.html">Отзывы</a>#}
                            {#</li>#}
                            {#<li class="divider-header"></li>#}
                            <li class="link out-link">
                                <a href="{{ path('gobusgo_gobusgo_contacts') }}">Контакты</a>
                            </li>


                            <div class="menu-bottom">
                                <div class="rd-navbar-aside-content" style="margin-bottom: 10px;">
                                    <ul class="block-wrap-list" style="padding-left: 10px;">
                                        <li class="block-wrap inline-block">
                                            <div class="unit unit-sm-horizontal unit-align-center unit-middle unit-spacing-xxs">
                                                <div class="unit-left inline-block vertical-middle">
                                                    <img src="{{ asset('images/phone.png') }}" width="30px;"/>
                                                </div>
                                                <div class="unit-body inline-block vertical-middle">
                                                    <address class="contact-info"><a
                                                                href="tel:+375(33)333-33-33"><span>+375(33)333-33-33</span></a><img class="icons-phone" style="margin-left: 5px;"
                                                                                                                                    src="{{ asset('images/whatsup.png') }}"/>
                                                        <img class="icons-phone"
                                                             src="{{ asset('images/telegram.png') }}"/><br><a
                                                                href="tel:+375(25)333-33-33"><span>+375(25)333-33-33</span></a>
                                                    </address>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="rd-navbar-aside-content" style="margin-bottom: 10px;">
                                    <ul class="block-wrap-list" style="padding-left: 10px;">

                                        <li class="block-wrap inline-block">
                                            <div class="unit unit-sm-horizontal unit-align-center unit-middle unit-spacing-xxs">
                                                <div class="unit-left inline-block vertical-middle"><img
                                                            src="{{ asset('images/time.png') }}" width="30px;"/></div>
                                                <div class="unit-body inline-block vertical-middle">
                                                    <address class="contact-info" style="margin-bottom: 5px;"><span>Пн-пт: c 9.00 до 18.00</span><br><span>Сб-Вс: c 9.00 до 16.00</span>
                                                    </address>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <p class="big-letter"><img src="{{ asset('images/letter.png') }}" width="30px;"
                                                           style="margin-right: 10px;"/>info@gobusgo.by</p>
                                <div class="callback-header">
                                    <a class="button-log" href="#win3" style="margin-left: 10px;"><i class="fa fa-phone"
                                                                                                     aria-hidden="true"></i>
                                        Заказать звонок</a>
                                </div>
                                <div class="header-icons">
                                    <img class="icons-top" src="{{ asset('images/whatsup.png') }}"
                                         style="height:35px; margin-right: 5px;"/>
                                    <img src="{{ asset('images/telegram.png') }}"
                                         style="height:35px; margin-right: 5px;"/>
                                    <img src="{{ asset('images/viber.png') }}" style="height:35px; margin-right: 5px;"/>
                                    <img src="{{ asset('images/skype.png') }}" style="height:35px; margin-right: 5px;"/>
                                    <img src="{{ asset('images/russian.png') }}" style="height:28px;"/>
                                </div>

                            </div>
                        </ul>
                        <!--Mobile Menu end-->
                        <div class="backdrop"></div>
                    </div>

                </div>
                <!--Main menu start-->

            </div>
        </div>
        <div class="section page-header hide-sm-up">
            <!-- RD Navbar-->
            <div class="rd-navbar-wrap" style="height: 0px;">
                <nav class="rd-navbar rd-navbar-minimal rd-navbar-original rd-navbar-fixed"
                     data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
                     data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed"
                     data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed"
                     data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-fixed"
                     data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px"
                     data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true"
                     data-xxl-stick-up="true">

                    <div class="rd-navbar-inner">
                        <div class="rd-navbar-main">
                            <!-- RD Navbar Panel-->
                            <div class="rd-navbar-panel">
                                <!-- RD Navbar Toggle-->


                                <div class="rd-navbar-aside toggle-original-elements">
                                    <a href="{{ path('gobusgo_gobusgo_homepage') }}"
                                       class="rd-navbar-brand"><img
                                                src="{{ asset('images/logo-1.png') }}" alt="" width="161"
                                                height="39"></a>
                                    <button class="rd-navbar-toggle toggle-original"
                                            data-rd-navbar-toggle="#rd-navbar-nav-wrap-1"><span></span></button>

                                    <div class="rd-navbar-aside-toggle toggle-original"
                                         data-rd-navbar-toggle=".rd-navbar-aside"><span class="fa fa-phone"
                                                                                        aria-hidden="true"></span>
                                    </div>
                                    <div class="rd-navbar-aside-content">
                                        <ul class="block-wrap-list">
                                            <li class="block-wrap">
                                                <div class="unit unit-sm-horizontal unit-align-center unit-middle unit-spacing-xxs">
                                                    <div class="unit-left inline-block vertical-middle">
                                                        {#<span class="fa fa-phone"></span>#}
                                                        <img src="{{ asset('images/phone.png') }}" width="20px;"/>
                                                    </div>
                                                    <div class="unit-body inline-block vertical-middle">
                                                        <address class="contact-info"><a
                                                                    href="tel:+375(33)333-33-33"><span>+375(33)333-33-33</span></a><img class="icons-phone" style="margin-left: 5px;"
                                                                                                                                        src="{{ asset('images/whatsup.png') }}"/>
                                                            <img class="icons-phone"
                                                                 src="{{ asset('images/telegram.png') }}"/><br><a
                                                                    href="tel:+375(25)333-33-33"><span>+375(25)333-33-33</span></a>
                                                        </address>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="block-wrap" style="margin-bottom: 10px;">
                                                <div class="unit unit-sm-horizontal unit-align-center unit-middle unit-spacing-xxs">
                                                    <div class="unit-left inline-block vertical-middle"><img
                                                                src="{{ asset('images/time.png') }}" width="30px;"/>
                                                    </div>
                                                    <div class="unit-body inline-block vertical-middle">
                                                        <address class="contact-info"
                                                                 style="margin-bottom: 5px;"><span>Пн-пт: c 9.00 до 18.00</span><br><span>Сб-Вс: c 9.00 до 16.00</span>
                                                        </address>
                                                    </div>
                                                </div>
                                            </li>
                                            <p class="big-letter" style="margin-bottom: 10px;"><img
                                                        src="{{ asset('images/letter.png') }}" width="30px;"
                                                        style="margin-right: 10px;"/>info@gobusgo.by</p>
                                            <div class="header-icons">
                                                <img class="icons-top" src="{{ asset('images/whatsup.png') }}"
                                                />
                                                <img src="{{ asset('images/telegram.png') }}"
                                                />
                                                <img src="{{ asset('images/viber.png') }}"/>
                                                <img src="{{ asset('images/skype.png') }}"/>
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="rd-navbar-main-element">
                                <div class="rd-navbar-nav-wrap toggle-original-elements"
                                     id="rd-navbar-nav-wrap-1">
                                    <!-- RD Navbar Nav-->
                                    <ul class="rd-navbar-nav">


                                        <li class="rd-nav-item"><a class="rd-nav-link"
                                                                   href="">Главная</a>
                                        </li>
                                        <li class="rd-nav-item rd-navbar--has-megamenu rd-navbar-submenu rd-nav-link">
                                            Грузоперевозки<span class="rd-navbar-submenu-toggle"></span>
                                            <!-- RD Navbar Megamenu-->
                                            <ul class="rd-menu rd-navbar-megamenu rd-navbar-open-right p-l-10">
                                                <li class="rd-megamenu-item">
                                                    <ul class="rd-megamenu-list">
                                                        <li class="rd-megamenu-list-item"><a
                                                                    class="rd-megamenu-list-link"
                                                                    href="{{ path('gobusgo_gobusgo_deliveryMoscowMinsk') }}">Минск
                                                                <span class="fa fa-arrows-h"
                                                                      aria-hidden="true"></span> Москва</a></li>
                                                        <li class="divider-menu"></li>
                                                        <li class="rd-megamenu-list-item"><a
                                                                    class="rd-megamenu-list-link"
                                                                    href="{{ path('gobusgo_gobusgo_deliveryMinsk') }}">По
                                                                Минску</a></li>
                                                        <li class="divider-menu"></li>
                                                        <li class="rd-megamenu-list-item"><a
                                                                    class="rd-megamenu-list-link"
                                                                    href="{{ path('gobusgo_gobusgo_deliveryRB') }}">По
                                                                Беларуси</a></li>
                                                    </ul>
                                                </li>

                                            </ul>
                                        </li>

                                        <li class="rd-nav-item"><a class="rd-nav-link"
                                                                   href="{{ path('gobusgo_gobusgo_about') }}">О
                                                нас</a>
                                        </li>

                                        <li class="rd-nav-item"><a class="rd-nav-link"
                                                                   href="{{ path('gobusgo_gobusgo_blog') }}">Новости</a>
                                        </li>

                                        <li class="rd-nav-item"><a class="rd-nav-link"
                                                                   href="{{ path('gobusgo_gobusgo_contacts') }}">Контакты</a>
                                        </li>

                                        <li class="menu-li" style="padding-bottom: 5px;">

                                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                                <a style="margin-left: 15px;" class="btn-2"
                                                   href="{{ path('sonata_admin_dashboard') }}"> {{ app.user.organization|slice(0,10) }} {% if app.user.organization|length > 10  %}...{% endif %} </a><a class="btn-3" href="{{ path('fos_user_security_logout') }}">
                                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                                </a>
                                            {% else %}
                                                <a class="btn-2"
                                                   href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a><a class="btn-3"
                                                   href="{{ path('sonata_admin_dashboard') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>


                                            {% endif %}

                                        </li>
                                        <li class="menu-li" style="padding-top: 5px;">
                                            <img src="{{ asset('images/russian.png') }}" style="height:28px;"/><span
                                                    class="country"> - GoBusGo в России</span>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        {#<div class="sale-top" style="margin-top: 20px;">#}
            {#<div class="gradient">Добро пожаловать на сайт GoBusGo.by</div>#}
        {#</div>#}
        {#<div class="unit unit-sm-horizontal unit-align-center unit-middle unit-spacing-xxs" style="border: 2px solid #8598ff; border-radius: 50px; padding: 2px 20px;">#}
            {#<div class="unit-left inline-block vertical-middle"><p>7</p></div>#}
            {#<div class="unit-body inline-block vertical-middle" style="margin-left: 0px;">#}
                {#<address class="contact-info">#}
                    {#<span>-ая доставка</span><br><span>БЕСПЛАТНО</span>#}
                {#</address>#}
            {#</div>#}
        {#</div>#}
        <div class="container p-0">
            <div class="row">
                <h1 class="margin-home">Куда везем груз?</h1>
                <div class="col-md-4 m-b-20">
                    <div class="background-round">
                        <h3 class="reload" OnClick="a('{{ path('gobusgo_gobusgo_deliveryMoscowMinsk') }}');">
                            Москва</br>Минск</h3>
                    </div>
                </div>
                <div class="col-md-4 m-b-20">
                    <div class="background-round">
                        <h3 class="align-home" OnClick="a('{{ path('gobusgo_gobusgo_deliveryMinsk') }}');">По
                            Минску</h3>
                    </div>
                </div>
                <div class="col-md-4 m-b-20">
                    <div class="background-round">
                        <h3 class="align-home" OnClick="a('{{ path('gobusgo_gobusgo_deliveryRB') }}');">По Беларуси</h3>
                    </div>
                </div>
                <script language="JavaScript">
                    function sleep(ms) {
                        return new Promise(resolve => setTimeout(resolve, ms));
                    }

                    async function a(url, e, w, audio) {
                        if (window.innerWidth > 1250) {
                            // audio = new Audio(); // Создаём новый элемент Audio
                            // audio.src = 'audio/car.mp3'; // Указываем путь к звуку "клика"
                            // audio.autoplay = true; // Автоматически запускаем
                            e = document.getElementById("car");
                            w = document.getElementById("wheel1");
                            s = document.getElementById("wheel2");

                            e.style.webkitAnimationName = "shake";
                            w.style.webkitAnimationName = "shake-w";
                            s.style.webkitAnimationName = "shake-w";

                            await
                                sleep(1000);

                            e.style.transform = "translate(2500px,0px)";
                            e.style.transition = "all 2.5s ease-in-out";

                            w.style.transform = "translate(2500px,0px) rotate(5turn)";
                            w.style.transition = "all 2.5s ease-in-out";
                            s.style.transform = "translate(2500px,0px) rotate(10turn)";
                            s.style.transition = "all 2.5s ease-in-out";

                            await sleep(1500);

                            window.location.replace(url);
                        }
                        else {
                            window.location.replace(url);
                        }
                    }
                </script>
            </div>
        </div>
        <div class="container-fluid overflow-animation">
            <div class="row">
                <div class="car-gobusgo">
                    <img src="{{ asset('images/car-body.png') }}" id="car">
                    <div class="wheel-1">
                        <img src="{{ asset('images/wheel.png') }}" id="wheel1">
                    </div>
                    <div class="wheel-2">
                        <img src="{{ asset('images/wheel.png') }}" id="wheel2">
                    </div>
                </div>
                <div class="city">
                    <img class="city-img" src="{{ asset('images/city.png') }}" style="margin: 0 auto;">
                </div>
                <div class="city-mobile">
                    <img class="city-img" src="{{ asset('images/city.png') }}" style="margin: 0 auto;">
                </div>
                <div class="clouds">

                    <img class="cloud cloud1" src="{{ asset('images/cloud1.png') }}">
                    <img class="cloud cloud2" src="{{ asset('images/cloud1.png') }}">
                    <img class="cloud cloud3" src="{{ asset('images/cloud1.png') }}">
                    <img class="cloud cloud4" src="{{ asset('images/cloud2.png') }}">
                    <img class="cloud cloud5" src="{{ asset('images/cloud2.png') }}">
                    <img class="cloud cloud6" src="{{ asset('images/cloud2.png') }}">
                    <img class="cloud cloud7" src="{{ asset('images/cloud2.png') }}">
                    <img class="cloud cloud8" src="{{ asset('images/cloud1.png') }}">
                </div>
            </div>
        </div>

    </header>


{% endblock %}
{% block breadcrumb %}

{% endblock %}

{% block body %}
    <div class="divider-home display-none-mobile"></div>
    <div class="container">
        <div class="row">
            <h2>Почему выбирают именно нас?</h2>
            <div class="col-md-3 m-b-20">
                <div class="advantage-icons">
                    <img src="{{ asset('images/advantage-1.png') }}" style="width:230px;">
                </div>
                <div class="advantage-title" style="margin: 10px;">Доставка любых грузов до 2-х тонн</div>
            </div>
            <div class="col-md-3 m-b-20">
                <div class="advantage-icons">
                    <img src="{{ asset('images/advantage-2.png') }}" style="width:230px;">
                </div>
                <div class="advantage-title" style="margin: 10px;">Доставка от письма до крупногабаритного груза</div>
            </div>
            <div class="col-md-3 m-b-20">
                <div class="advantage-icons">
                    <img src="{{ asset('images/advantage-3.png') }}" style="width:230px;">
                </div>
                <div class="advantage-title" style="margin: 10px;">Доставка в течении суток</div>
            </div>
            <div class="col-md-3" style="margin-bottom:20px;">
                <div class="advantage-icons">
                    <img src="{{ asset('images/advantage-4.png') }}" style="width:230px;">
                </div>
                <div class="advantage-title" style="margin: 10px;">Каждая 7-ая доставка бесплатно *</div>
            </div>
        </div>
    </div>
    <div class="divider-home"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-push-1">
                <h1>{{ seo.h1 }}</h1>
                {#<p class="text-center" style="font-size: 20px; line-height: 24px;">В связи с растущим спросом покупок#}
                    {#товаров посредством Сети интернет, потребители стали чаще обращаться к компаниям, у которых налажена#}
                    {#работа службы доставки.</br>#}
                    {#Развитие предприятия характеризуется многими показателями. Не последнюю очередь занимает именно#}
                    {#организованная работа доставки. Высокий уровень подачи и эффективная работа по доставке грузов и#}
                    {#товаров отражает стабильность, внушает доверие и безопасность во время перевозки имущества.#}
                    {#Предлагаем экспресс-доставку товаров и грузов, которая осуществляется под строгим контролем,#}
                    {#оперативно и в срок.</br>#}
                    {#Наша недорогая цена доставки обусловлена гибким планированием маршрутов, опытом и высоким уровнем#}
                    {#профессионализма сотрудников компании.#}
                {#</p>#}
                {% if seo.intro is not empty %} {{ seo.intro }} {% endif %}
                {#{{ seo.text }}#}
            </div>
        </div>
    </div>
    <div class="divider-home"></div>

    <div class="container">
        <div class="row">
            <h2>Наш автопарк</h2>
            <div class="col-md-10 col-md-push-1 mobile-slide" style="border: 1px solid #ffe775; ">

                <!-- Slider main container -->
                <div class="swiper-container">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <div class="col-md-6" style="display: table; margin: 0 auto;">
                                <div style="display: table-cell; vertical-align: middle; text-align: center; height: 280px; width: 60%;">
                                    <img src="{{ asset('images/fiatdukato.png') }}" style="width: 60%;">
                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="auto-title">Fiat Ducato</div>
                                <p class="text-center text-auto">
                                    Предназначены для грузоперевозок</br>
                                    малого объема и веса</br>
                                    (продуктов, мебели, оборудования, оргтехники</br>
                                    и товаров народного потребления)</br>
                                    Грузовая нагрузка: 1-3,5 тонн.</br>
                                    Оббьем: 4-17 метров куб.</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="col-md-6" style="display: table; margin: 0 auto;">
                                <div style="display: table-cell; vertical-align: middle; text-align: center; height: 280px; width: 60%;">
                                    <img src="{{ asset('images/fiatdukato.png') }}" style="width: 60%;">
                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="auto-title">Volkswagen</div>
                                <p class="text-center text-auto">
                                    Предназначены для грузоперевозок</br>
                                    малого объема и веса</br>
                                    (продуктов, мебели, оборудования, оргтехники</br>
                                    и товаров народного потребления)</br>
                                    Грузовая нагрузка: 1-3,5 тонн.</br>
                                    Оббьем: 4-17 метров куб.</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="col-md-6" style="display: table; margin: 0 auto;">
                                <div style="display: table-cell; vertical-align: middle; text-align: center; height: 280px; width: 60%;">
                                    <img src="{{ asset('images/fiatdukato.png') }}" style="width: 60%;">
                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="auto-title">Renault</div>
                                <p class="text-center text-auto">
                                    Предназначены для грузоперевозок</br>
                                    малого объема и веса</br>
                                    (продуктов, мебели, оборудования, оргтехники</br>
                                    и товаров народного потребления)</br>
                                    Грузовая нагрузка: 1-3,5 тонн.</br>
                                    Оббьем: 4-17 метров куб.</p>
                            </div>
                        </div>
                    </div>
                    <!-- If we need pagination -->
                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>


                </div>
            </div>
            <!-- Swiper JS -->
            <script type="text/javascript" src="{{ asset('js/swiper.min.js') }}"></script>
            <!-- Initialize Swiper -->
            <script>
                var swiper = new Swiper('.swiper-container', {
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                    },
                });
            </script>

        </div>
    </div>


    {% include 'GobusgoGobusgoBundle:Blog:blogLatest.html.twig' %}




{% endblock %}