{% extends '@GobusgoGobusgo/layout.html.twig' %}
{% block header %}
    {% block callback %}
        <a href="#x" class="overlay" id="win3">
        </a>
        <div class="popup" style="max-width: 500px;">
            <div class="section bg-gray-light container-fluid">
                <h2 class="m-b-20">Заказ обратного звонка</h2>
                <div class="container-fluid">

                    {{ form_start(callform, { 'action': path('gobusgo_gobusgo_confirm'), 'method': 'POST' }) }}
                    {{ form_errors(callform) }}

                    <div class="form-group">
                        {{ form_widget(callform.name, {'attr':{'class':'input-log','placeholder':'Как вас зовут?'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(callform.phone, {'attr':{'class':'input-log','placeholder':'Номер телефона'}}) }}
                    </div>
                    <input type="submit" class="button-log" value="Отправить">
                    {{ form_end(callform) }}
                </div>
            </div>

            <a class="close" title="Закрыть" href="#close"></a>
        </div>
    {% endblock %}
        <div class="loaderArea">

        <div class="loader-container">
        <div class="loader"></div>
        <div class="loader"></div>
        <div class="loader"></div>
        <div class="loader"></div>
        <div class="loader"></div>
        </div>
    </div>
<div class="page page-home">
    <header class="main-menu-area height-vh">
        <div class="header-desktop container-fluid">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-12" style="padding: 0px;">
                    <div class="logo">

                        <a href="{{ path('gobusgo_gobusgo_homepage') }}">
                            <img src="{{ asset('images/logo.png') }}" alt="" width="150px;">
                        </a>
                    </div>
                    <div class="accordion-wrapper">
                        <a href="#" class="mobile-open">
                            <div class="hamburger hamburger--spin class-2">
                                <div class="hamburger-box">
                                    <div class="hamburger-inner"></div>
                                </div>
                            </div>
                        </a>
                        <!--Mobile Menu start-->
                        <ul id="mobilemenu" class="accordion">
                            <li class="start-li">
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <a style="margin-left: 15px;" class="btn-2"
                                       href="{{ path('sonata_admin_dashboard') }}"> {{ app.user.organization|slice(0,10) }} {% if app.user.organization|length > 10 %}...{% endif %}</a><a
                                            class="btn-3" href="{{ path('fos_user_security_logout') }}">
                                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                    </a>
                                {% else %}
                                    <a class="btn-2"
                                       href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a><a class="btn-3"
                                       href="{{ path('sonata_admin_dashboard') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                                {% endif %}
                                <a class="closeme" href="#" style="display: inline-block;">
                                    <div class="hamburger hamburger--spin class-1 is-active">
                                        <div class="hamburger-box">
                                            <div class="hamburger-inner"></div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="out-link">
                                <a href="{{ path('gobusgo_gobusgo_about') }}">О нас</a></li>
                            <li class="link out-link">
                                <a href="{{ path('gobusgo_gobusgo_deliveryMoscowMinsk') }}">Москва - Минск</a>
                            </li>
                            <li class="link out-link">
                                <a href="{{ path('gobusgo_gobusgo_deliveryMinskMoscow') }}">Минск - Москва</a>
                            </li>
                            <li class="link out-link">
                                <a class="" href="{{ path('gobusgo_gobusgo_blog') }}">Новости</a>
                            </li>
                            <li class="link out-link">
                                <a href="{{ path('gobusgo_gobusgo_contacts') }}">Контакты</a>
                            </li>

                            <div class="menu-bottom">
                                <div class="rd-navbar-aside-content" style="margin-bottom: 10px;">
                                    <ul class="block-wrap-list" style="padding-left: 10px;">
                                        <li class="block-wrap inline-block">
                                            <div class="unit unit-sm-horizontal unit-align-center unit-middle unit-spacing-xxs">
                                                <div class="unit-left inline-block vertical-middle">
                                                    <img src="{{ asset('images/phone.png') }}" width="20px;"/>
                                                </div>
                                                <div class="unit-body inline-block vertical-middle">
                                                    <address class="contact-info">
                                                        <a
                                                                href="tel:+375296121188"><span>+375(29)612-11-88</span></a>
                                                        <a target="_blank" href="viber://add?number=375296121188">
                                                            <img
                                                                    class="icons-phone" style="margin-left: 5px;"
                                                                    src="{{ asset('images/viber.png') }}"/>
                                                        </a>
                                                        <a href="tg://resolve?domain=Gobusgo2" target="_blank">
                                                            <img class="icons-phone"
                                                                 src="{{ asset('images/telegram.png') }}"/>
                                                        </a>
                                                        <br>
                                                        <a
                                                                href="tel:+375298381288"><span>+375(29)838-12-88</span></a>
                                                        <br>
                                                        <a href="tel:+79032230250"><span>+7(903)223-02-50</span></a>
                                                        <a target="_blank"
                                                           href="https://api.whatsapp.com/send?phone=79032230250"><img
                                                                    class="icons-phone" style="margin-left: 5px;"
                                                                    src="{{ asset('images/whatsup.png') }}"/></a>
                                                        <a href="tg://resolve?domain=Gobusgo" target="_blank">
                                                            <img class="icons-phone"
                                                                 src="{{ asset('images/telegram.png') }}"/></a>
                                                    </address>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="rd-navbar-aside-content" style="margin-bottom: 10px;">
                                    <ul class="block-wrap-list" style="padding-left: 10px;">

                                        <li class="block-wrap inline-block">
                                            <div class="unit unit-sm-horizontal unit-align-center unit-middle unit-spacing-xxs">
                                                <div class="unit-left inline-block vertical-middle"><img
                                                            src="{{ asset('images/time.png') }}" width="30px;"/></div>
                                                <div class="unit-body inline-block vertical-middle">
                                                    <address class="contact-info" style="margin-bottom: 5px;"><span>С 9.00 до 21.00</span><br><span>Без выходных</span>
                                                    </address>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <p class="big-letter"><a style="color: #8598ff;" href="mailto:info@gobusgo.by"><img
                                                src="{{ asset('images/letter.png') }}" width="30px;"
                                                style="margin-right: 10px;"/>info@gobusgo.by</a></p>
                                <div class="callback-header">
                                    <a class="button-log" href="#win3" style="margin-left: 10px;"><i class="fa fa-phone"
                                                                                                     aria-hidden="true"></i>
                                        Заказать звонок</a>
                                </div>
                                <div class="header-icons">
                                    <a target="_blank" href="https://www.instagram.com/gobusgo.by/"><img
                                                src="{{ asset('images/insta.png') }}"
                                                style="height:35px; margin-right: 5px;"/></a>
                                    <a target="_blank" href="http://gobusgo.ru"><img src="{{ asset('images/russian.png') }}" style="height:28px;"/></a>
                                </div>
                            </div>
                        </ul>
                        <!--Mobile Menu end-->
                        <div class="backdrop"></div>
                    </div>

                </div>
                <!--Main menu start-->

            </div>
        </div>
        <div class="section hide-sm-up">
            <!-- RD Navbar-->
            <div class="rd-navbar-wrap" style="height: 260px;">
                <nav class="rd-navbar rd-navbar-corporate rd-navbar-dark rd-navbar-original rd-navbar-static"
                     data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
                     data-md-device-layout="rd-navbar-fixed"
                     data-md-layout="rd-navbar-static" data-lg-layout="rd-navbar-static"
                     data-lg-device-layout="rd-navbar-static" data-stick-up-clone="false"
                     data-md-stick-up-offset="199px"
                     data-lg-stick-up-offset="199px" data-stick-up="true" data-sm-stick-up="true"
                     data-md-stick-up="true"
                     data-lg-stick-up="true">
                    <div class="rd-navbar-inner">
                        <div class="rd-navbar-inner-header">
                            <div class="rd-navbar-middle-panel">
                                <!-- RD Navbar Panel-->
                                <div class="rd-navbar-panel">
                                    <!-- RD Navbar Toggle-->
                                    <button class="rd-navbar-toggle toggle-original"
                                            data-rd-navbar-toggle=".rd-navbar-outer-panel"><span></span></button>
                                    <!-- RD Navbar Brand--><a class="rd-navbar-brand"
                                                              href="{{ path('gobusgo_gobusgo_homepage') }}">
                                        <div class="rd-navbar-fixed--hidden"><img class="logo-header"
                                                                                  src="{{ asset('images/logo-1.png') }}"
                                                                                  alt=""
                                                                                  width="161" height="39">
                                        </div>
                                        <div class="rd-navbar-fixed--visible"><img
                                                    src="{{ asset('images/logo-1.png') }}" alt=""
                                                    width="161" height="39">
                                        </div>


                                    </a>
                                </div>
                                <div class="rd-navbar-aside toggle-original-elements">
                                    <div class="rd-navbar-aside-toggle toggle-original"
                                         data-rd-navbar-toggle=".rd-navbar-aside"><span class="fa fa-phone"
                                                                                        aria-hidden="true"></span></div>
                                    <div class="rd-navbar-aside-content">
                                        <ul class="block-wrap-list">
                                            <li class="block-wrap">
                                                <div class="unit unit-sm-horizontal unit-align-center unit-middle unit-spacing-xxs">
                                                    <div class="unit-left inline-block vertical-middle">
                                                        <img src="{{ asset('images/phone.png') }}" width="20px;"/>
                                                    </div>
                                                    <div class="unit-body inline-block vertical-middle">
                                                        <address class="contact-info">
                                                            <a
                                                                    href="tel:+375296121188"><span>+375(29)612-11-88</span></a>
                                                            <a target="_blank" href="viber://add?number=375296121188">
                                                                <img
                                                                        class="icons-phone" style="margin-left: 5px;"
                                                                        src="{{ asset('images/viber.png') }}"/>
                                                            </a>
                                                            <a href="tg://resolve?domain=Gobusgo2" target="_blank">
                                                                <img class="icons-phone"
                                                                     src="{{ asset('images/telegram.png') }}"/>
                                                            </a>
                                                            <br>
                                                            <a
                                                                    href="tel:+375298381288"><span>+375(29)838-12-88</span></a>
                                                            <br>
                                                            <a href="tel:+79032230250"><span>+7(903)223-02-50</span></a>
                                                            <a target="_blank"
                                                               href="https://api.whatsapp.com/send?phone=79032230250"><img
                                                                        class="icons-phone" style="margin-left: 5px;"
                                                                        src="{{ asset('images/whatsup.png') }}"/></a>
                                                            <a href="tg://resolve?domain=Gobusgo" target="_blank">
                                                                <img class="icons-phone"
                                                                     src="{{ asset('images/telegram.png') }}"/></a>
                                                        </address>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="block-wrap" style="margin-bottom: 10px;">
                                                <div class="unit unit-sm-horizontal unit-align-center unit-middle unit-spacing-xxs">
                                                    <div class="unit-left inline-block vertical-middle"><img
                                                                src="{{ asset('images/time.png') }}" width="30px;"/>
                                                    </div>
                                                    <div class="unit-body inline-block vertical-middle">
                                                        <address class="contact-info"
                                                                 style="margin-bottom: 5px;">
                                                            <span>С 9.00 до 21.00</span><br><span>Без выходных</span>
                                                        </address>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="block-wrap inline-block">
                                                <div class="unit unit-sm-horizontal unit-align-center unit-middle unit-spacing-xxs"
                                                     style="border: 2px solid #8598ff; border-radius: 50px; padding: 2px 20px;">
                                                    <div class="unit-left inline-block vertical-middle"><p>7</p></div>
                                                    <div class="unit-body inline-block vertical-middle"
                                                         style="margin-left: 0px;">
                                                        <address class="contact-info">
                                                            <a href="#free"><span>-ая доставка</span><br><span>БЕСПЛАТНО</span></a>
                                                        </address>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="rd-navbar-outer-panel toggle-original-elements">
                            <div class="rd-navbar-nav-wrap rd-navbar-inner-header">
                                <!-- RD Navbar Nav-->
                                <img class="logo-stuck" src="{{ asset('images/logo-1.png') }}" alt=""
                                     width="161" height="39">
                                <ul class="rd-navbar-nav header-menu">
                                    <!-- RD Navbar Dropdown-->

                                    <li>
                                        <a href="{{ path('gobusgo_gobusgo_homepage') }}">Главная</a>
                                    </li>
                                    <li><a href="{{ path('gobusgo_gobusgo_about') }}">О нас</a></li>
                                    <li><a href="{{ path('gobusgo_gobusgo_deliveryMoscowMinsk') }}">Москва - Минск</a>
                                    </li>
                                    <li><a href="{{ path('gobusgo_gobusgo_deliveryMoscowMinsk') }}">Минск - Москва</a>
                                    </li>
                                    <li class="inline-block">
                                        <a href="{{ path('gobusgo_gobusgo_deliveryMinsk') }}">По Минску</a>
                                    </li>

                                    {#<li class="inline-block">#}
                                    {#<a href="{{ path('gobusgo_gobusgo_deliveryRB') }}">Доставка по Беларуси</a>#}
                                    {#</li>#}

                                    <li class="inline-block"><a href="{{ path('gobusgo_gobusgo_blog') }}">Новости</a>
                                    </li>
                                    <li class="inline-block"><a
                                                href="{{ path('gobusgo_gobusgo_contacts') }}">Контакты</a>
                                    </li>

                                </ul>
                                <address class="contact-info"><a
                                            href="tel:+375296121188"><span>+375(29)612-11-88</span></a>
                                    <br><a href="tel:+79032230250"><span>+7(903)223-02-50</span></a>
                                </address>
                            </div>
                            <div class="rd-navbar-top-panel">
                                <div class="rd-navbar-inner-header">
                                    <div class="col-md-3 hide-xs-up"
                                         style="padding-right: 0px; padding-left: 0px; margin: 10px 0px;">
                                        <div class="icons-top-bar" style=" margin-right: 20px;">
                                            <a target="_blank" href="https://www.instagram.com/gobusgo.by/"><img
                                                        src="{{ asset('images/insta.png') }}"
                                                        style="height:35px; margin-right: 5px;"/></a>
                                            <img src="{{ asset('images/telegram.png') }}"
                                                 style="height:35px; margin-right: 5px;"/>
                                        </div>
                                    </div>
                                    <div class="col-md-5 hide-xs-up"
                                         style="padding-right: 0px; padding-left: 0px; text-align: center;">
                                        <h4 style="font-size: 1vw; margin: 10px 0px;">Добро пожаловать на сайт
                                            грузоперевозок - GoBusGo.by</h4>
                                    </div>
                            <div class="col-md-4 top-bar-container">
                                <div class="top-bar">
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        <a style="margin-left: 15px;" class="btn-2"
                                           href="{{ path('sonata_admin_dashboard') }}"> {{ app.user.organization|slice(0,10) }} {% if app.user.organization|length > 10 %}...{% endif %} </a><a
                                                class="btn-3" href="{{ path('fos_user_security_logout') }}">
                                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                        </a>
                                    {% else %}
                                        <a class="btn-2"
                                           href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a><a class="btn-3"
                                           href="{{ path('sonata_admin_dashboard') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>

                                    {% endif %}

                                </div>
                                <a target="_blank" class="flag-container" href="http://gobusgo.ru"><img class="flag" src="{{ asset('images/russian.png') }}"
                                                                 style="height:32px; padding-bottom: 5px;"/></a>
                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="container p-0">
            <div class="row">
                <h1 class="offset-top-22">Куда везем груз?</h1>
                <div class="col-md-12 offset-top-22 offset-md-top-40">
                    <div class="col-md-5 col-md-push-1 m-b-20">
                        <div class="background-round">
                            <h3 class="reload" OnClick="a('{{ path('gobusgo_gobusgo_deliveryMoscowMinsk') }}');">
                                Москва</br>Минск</h3>
                        </div>
                    </div>
                    <div class="col-md-5 col-md-push-1 m-b-20">
                        <div class="background-round">
                            <h3 class="align-home" OnClick="a('{{ path('gobusgo_gobusgo_deliveryMinskMoscow') }}');">
                                Минск</br>Москва</h3>
                        </div>
                    </div>
                </div>
                <script language="JavaScript">
                    function sleep(ms) {
                        return new Promise(resolve => setTimeout(resolve, ms));
                    }
                    async function a(url, e, w, audio) {
                        if (window.innerWidth > 1250) {
                            // audio = new Audio(); // Создаём новый элемент Audio
                            // audio.src = 'audio/car.mp3'; // Указываем путь к звуку "клика"
                            // audio.autoplay = true; // Автоматически запускаем
                            e = document.getElementById("car");
                            w = document.getElementById("wheel1");
                            s = document.getElementById("wheel2");

                            e.style.webkitAnimationName = "shake";
                            w.style.webkitAnimationName = "shake-w";
                            s.style.webkitAnimationName = "shake-w";

                            await
                                sleep(1000);
                            e.style.transform = "translate(2500px,0px)";
                            e.style.transition = "all 2.5s ease-in-out";
                            w.style.transform = "translate(2500px,0px) rotate(5turn)";
                            w.style.transition = "all 2.5s ease-in-out";
                            s.style.transform = "translate(2500px,0px) rotate(10turn)";
                            s.style.transition = "all 2.5s ease-in-out";

                            await sleep(1500);

                            window.location.replace(url);
                        }
                        else {
                            window.location.replace(url);
                        }
                    }
                </script>
            </div>
        </div>
        <div class="container-fluid overflow-animation">
            <div class="row">
                <div class="car-gobusgo">
                    <img src="{{ asset('images/car-body.png') }}" id="car">
                    <div class="wheel-1">
                        <img src="{{ asset('images/wheel.png') }}" id="wheel1">
                    </div>
                    <div class="wheel-2">
                        <img src="{{ asset('images/wheel.png') }}" id="wheel2">
                    </div>
                </div>
                <div class="city">
                    <img class="city-img" src="{{ asset('images/city.png') }}" style="margin: 0 auto;">
                </div>
                <div class="city-mobile">
                    <img class="city-img" src="{{ asset('images/city.png') }}" style="margin: 0 auto;">
                </div>
                <div class="clouds">
                    <img class="cloud cloud1" src="{{ asset('images/cloud1.png') }}">
                    <img class="cloud cloud2" src="{{ asset('images/cloud1.png') }}">
                    <img class="cloud cloud3" src="{{ asset('images/cloud1.png') }}">
                    <img class="cloud cloud4" src="{{ asset('images/cloud2.png') }}">
                    <img class="cloud cloud5" src="{{ asset('images/cloud2.png') }}">
                    <img class="cloud cloud6" src="{{ asset('images/cloud2.png') }}">
                    <img class="cloud cloud7" src="{{ asset('images/cloud2.png') }}">
                    <img class="cloud cloud8" src="{{ asset('images/cloud1.png') }}">
                </div>
            </div>
        </div>
    </header>
    {% endblock %}
    {% block breadcrumb %}
    {% endblock %}
    {% block body %}
    <div class="divider-home display-none-mobile"></div>
    <section class="section-40">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Почему выбирают именно нас?</h2>
                </div>
                <div class="offset-top-22 offset-md-top-40 col-md-12">
                <div class="row">
                    <div class="col-md-3 col-sm-6 m-b-20">
                        <div class="advantage-icons">
                            <img src="{{ asset('images/advantage-1.png') }}" style="width:230px;">
                        </div>
                        <div class="advantage-title" style="margin: 10px;">Доставка любых грузов до 2-х тонн</div>
                    </div>
                      <div class="col-md-3 col-sm-6 m-b-20">
                        <div class="advantage-icons">
                            <img src="{{ asset('images/advantage-2.png') }}" style="width:230px;">
                        </div>
                        <div class="advantage-title" style="margin: 10px;">Доставка от письма до крупногабаритного груза
                        </div>
                    </div>
                    <div class="clearfix visible-sm-block"></div>
                    <div class="col-md-3 col-sm-6 m-b-20">
                        <div class="advantage-icons">
                            <img src="{{ asset('images/advantage-3.png') }}" style="width:230px;">
                        </div>
                        <div class="advantage-title" style="margin: 10px;">Доставка в течение суток</div>
                    </div>

                    <div class="col-md-3 col-sm-6 m-b-20">
                        <div class="advantage-icons">
                            <img src="{{ asset('images/advantage-4.png') }}" style="width:230px;">
                        </div>
                        <div class="advantage-title" style="margin: 10px;">Каждая 7-ая доставка бесплатно</div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="divider-home"></div>
    <section class="section-40">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ seo.h1|raw }}</h1>
                </div>
                <div class="offset-top-22 offset-md-top-40 col-md-12">
                    {% if seo.intro is not empty %} {{ seo.intro|raw }} {% endif %}
                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid section-80" style="background-color: #8598ff;">
        <div class="row">
            <div class="col-md-8 col-md-push-2 text-center">

                <h2 style="color: white; margin-top: 0px;">Каждая 7-ая доставка бесплатно!</h2>
                <p style="color: white; text-align: center; font-size: 20px;">Каждая 7-ая передача до 100кг от склада до
                    склада совершенно бесплатно!</p>

            </div>
        </div>
    </div>
    <section class="section-60">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Наш автопарк</h2>
                </div>
                <div class="offset-top-22 offset-md-top-40 range col-md-10 col-md-push-1 mobile-slide"
                     style="border: 1px solid #ffe775; ">

                    <!-- Slider main container -->
                    <div class="swiper-container">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide">
                                <div class="col-md-6" style="display: table; margin: 0 auto;">
                                    <div style="display: table-cell; vertical-align: middle; text-align: center; height: 280px; width: 60%;">
                                        <img src="{{ asset('images/fiatdukato.png') }}" style="width: 60%;">
                                    </div>
                                </div>
                                <div class="col-md-6">

                                    <div class="auto-title">Fiat Ducato</div>
                                    <p class="text-center text-auto">
                                        Предназначены для грузоперевозок</br>
                                        малого объема и веса</br>
                                        (продуктов, мебели, оборудования, оргтехники</br>
                                        и товаров народного потребления)</br>
                                        Грузовая нагрузка: до 3,5 тонн.</br>
                                        Объем: до 17 метров куб.</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="col-md-6" style="display: table; margin: 0 auto;">
                                    <div style="display: table-cell; vertical-align: middle; text-align: center; height: 280px; width: 60%;">
                                        <img src="{{ asset('images/vwcrafter.png') }}" style="width: 60%;">
                                    </div>
                                </div>
                                <div class="col-md-6">

                                    <div class="auto-title">Volkswagen Crafter</div>
                                    <p class="text-center text-auto">
                                        Предназначены для грузоперевозок</br>
                                        малого объема и веса</br>
                                        (продуктов, мебели, оборудования, оргтехники</br>
                                        и товаров народного потребления)</br>
                                        Грузовая нагрузка: до 2 тонн.</br>
                                        Оббьем: до 14 метров куб.</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="col-md-6" style="display: table; margin: 0 auto;">
                                    <div style="display: table-cell; vertical-align: middle; text-align: center; height: 280px; width: 60%;">
                                        <img src="{{ asset('images/m-sprinter.png') }}" style="width: 60%;">
                                    </div>
                                </div>
                                <div class="col-md-6">

                                    <div class="auto-title">Mercedes Sprinter</div>
                                    <p class="text-center text-auto">
                                        Предназначены для грузоперевозок</br>
                                        малого объема и веса</br>
                                        (продуктов, мебели, оборудования, оргтехники</br>
                                        и товаров народного потребления)</br>
                                        Грузовая нагрузка: до 3 тонн.</br>
                                        Оббьем: до 16 метров куб.</p>
                                </div>
                            </div>
                        </div>
                        <!-- If we need pagination -->
                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>


                    </div>
                </div>
                <!-- Swiper JS -->
                <script type="text/javascript" src="{{ asset('js/swiper.min.js') }}"></script>
                <!-- Initialize Swiper -->
                <script>
                    var swiper = new Swiper('.swiper-container', {
                        navigation: {
                            nextEl: '.swiper-button-next',
                            prevEl: '.swiper-button-prev',
                        },
                    });
                </script>
            </div>
        </div>
    </section>
    <div class="divider-home"></div>

    {% include 'GobusgoGobusgoBundle:Blog:blogLatest.html.twig' %}



{% endblock %}