{#

/*
 * This file is part of the Sonata package.
 *
 * (c) Thomas Rabaix <thomas.rabaix@sonata-project.org>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

#}
{% extends '@ApplicationSonataNews/layout.html.twig' %}

{% block body %}
    {#{% sonata_template_box 'This is the archive template. Feel free to override it.' %}#}

{% block sonata_page_breadcrumb %}
    <div class="row-fluid clearfix">
        {{ sonata_block_render_event('breadcrumb', { 'context': 'news_archive', 'collection': collection, 'tag': tag, 'current_uri': app.request.requestUri }) }}
    </div>
{% endblock %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
<h1 class="text-left">Новости</h1>
        </div>
    <div class="sonata-blog-post-list">
        {% for post in pager.getResults() %}
            <div class="col-md-4">
            <div class="sonata-blog-post-container">

                    <h4 class="sonata-blog-post-title text-left">
                        <a href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}">{{ post.title }}</a>
                    </h4>

                    <div class="sonata-blog-post-information">
                        {% media post.image, 'small' %}

                        <span class="sonata-blog-post-author">{{ 'archive_author'|trans({'%author%': post.author }, 'SonataNewsBundle') }}</span>
                        |

                        <i class="icon-calendar"></i>
                        {{ post.publicationDateStart | format_date }} |

                        <i class="icon-comment"></i>
                        <span class="sonata-blog-post-comments-count">{{ 'comments_count'|trans({'%comments_count%': post.commentsCount }, 'SonataNewsBundle') }}</span>

                        <div class="sonata-blog-post-tags">
                            {% if post.tags|length > 1 %}
                                <i class="icon-tags"></i>
                            {% else %}
                                <i class="icon-tag"></i>
                            {% endif %}
                            {{ 'published_under'|transchoice(post.tags|length, {}, 'SonataNewsBundle') }}

                            {% for tag in post.tags %}
                                <a
                                href="{{ url('sonata_news_tag', { 'tag': tag.slug } ) }}">{{ tag.name }}</a>{% if not loop.last %},{% endif %}
                            {% endfor %}
                        </div>
                    </div>
            </div>


                <div class="sonata-blog-post-abtract">
                    {{ post.abstract }}
                </div>
                <a href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}" class="button-log">Подробнее</a>
            </div>


        {% else %}
            {{ 'no_post_found'|trans({}, 'SonataNewsBundle') }}
        {% endfor %}
    </div>
    </div>
<div class="container">
    <div class="row">
        <ul class="pager">
            <li{% if pager.page == pager.lastPage %} class="btn-2"{% endif %}><a
                        href="{{ url(route, route_parameters|merge({'page': pager.nextpage})) }}"
                        title="{{ 'link_previous_page'|trans({}, 'SonataNewsBundle') }}">{{ 'link_previous_page'|trans({}, 'SonataNewsBundle') }}</a>
            <li{% if pager.page == pager.firstPage %} class="btn-3"{% endif %}><a
                        href="{{ url(route, route_parameters|merge({'page': pager.previouspage})) }}"
                        title="{{ 'link_next_page'|trans({}, 'SonataNewsBundle') }}">{{ 'link_next_page'|trans({}, 'SonataNewsBundle') }}</a>
            </li>
        </ul>
</div>
</div>
    </div>
{% endblock %}
