<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    {{ sonata_seo_title() }}
    {{ sonata_seo_metadatas() }}
    {% block stylesheets %}

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {#{% stylesheets '@bootstrap_css' %}#}
        {#<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>#}
        {#{% endstylesheets %}#}
        <link type="text/css" rel="stylesheet" href="{{ asset('css/bootstrap-1.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('css/style-1.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('css/font-awesome/css/font-awesome.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('css/header.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('css/responsive.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('css/swiper.min.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('css/header-second.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('css/popup.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('css/zero-5.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('css/phone-call.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('css/hamburgers.css') }}">
        {#<link type="text/css" rel="stylesheet" href="{{ asset('css/select2-bootstrap.css') }}">#}
        {#<link type="text/css" rel="stylesheet" href="{{ asset('css/select2.css') }}">#}
    {% endblock %}
    {#<link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}"/>#}
    <link rel="shortcut icon" href="{{ asset('images/logo-1.png') }}"/>
</head>
<body>


{% block header %}

    <header class="main-menu-area">
        <div class="container-fluid" style="padding: 0px; box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.2);">
            <div class="row">
                <div class="col-md-12 header-desktop" style="background-color: #F6F6F6;">
                    <div class="col-md-10 col-lg-10 col-xl-10 col-md-push-1"
                         style="padding-left: 0px; padding-right: 0px;">
                        <div class="col-md-3" style="padding-right: 0px; padding-left: 0px;">
                            <div class="icons-top-bar" style=" margin-right: 20px;">
                                <img class="icons-top" src="{{ asset('images/skype.png') }}"/>
                            </div>
                        </div>
                        <div class="col-md-5" style="padding-right: 0px; padding-left: 0px; text-align: center;">
                            <h4 style="font-size: 1vw;">Добро пожаловать на сайт грузоперевозок - GoBusGo.by</h4>
                        </div>
                        <div class="col-md-4" style="padding-right: 0px;">
                            <div class="top-bar" style="text-align: right;">
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <a style="margin-left: 15px;" class="btn-2"
                                       href="{{ path('sonata_admin_dashboard') }}"> {{ app.user.organization|slice(0,10) }} {% if app.user.organization|length > 10  %}...{% endif %} </a><a
                                        class="btn-3" href="{{ path('fos_user_security_logout') }}">
                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                </a>
                                {% else %}
                                    <a class="btn-2"
                                       href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a><a class="btn-3"
                                       href="{{ path('sonata_admin_dashboard') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>

                                {% endif %}
                                <img class="flag" src="{{ asset('images/russian.png') }}"
                                     style="height:32px; padding-bottom: 5px;"/>
                            </div>
                        </div>
                    </div>
                </div>
                <nav class="rd-navbar rd-navbar-corporate rd-navbar-dark rd-navbar-original rd-navbar-static"
                     data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
                     data-md-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-static"
                     data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static"
                     data-stick-up-clone="false" data-md-stick-up-offset="199px" data-lg-stick-up-offset="199px"
                     data-stick-up="true" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true">

                    <div class="rd-navbar-inner hide-sm-up">
                        <div class="rd-navbar-main">
                            <!-- RD Navbar Panel-->
                            <div class="rd-navbar-panel">
                                <!-- RD Navbar Toggle-->


                                <div class="rd-navbar-aside toggle-original-elements">
                                    <a href="{{ path('gobusgo_gobusgo_homepage') }}"
                                       class="rd-navbar-brand"><img
                                                src="{{ asset('images/logo-1.png') }}" alt="" width="161"
                                                height="39"></a>
                                    <button class="rd-navbar-toggle toggle-original"
                                            data-rd-navbar-toggle="#rd-navbar-nav-wrap-1"><span></span></button>

                                    <div class="rd-navbar-aside-toggle toggle-original"
                                         data-rd-navbar-toggle=".rd-navbar-aside"><span class="fa fa-phone"
                                                                                        aria-hidden="true"></span>
                                    </div>
                                    <div class="rd-navbar-aside-content">
                                        <ul class="block-wrap-list">
                                            <li class="block-wrap">
                                                <div class="unit unit-sm-horizontal unit-align-center unit-middle unit-spacing-xxs">
                                                    <div class="unit-left inline-block vertical-middle">
                                                        {#<span class="fa fa-phone"></span>#}
                                                        <img src="{{ asset('images/phone.png') }}"
                                                             width="20px;"/>
                                                    </div>
                                                    <div class="unit-body inline-block vertical-middle">
                                                        <address class="contact-info"><a
                                                                    href="tel:+375(33)333-33-33"><span>+375(33)333-33-33</span></a>
                                                            <img class="icons-phone" style="margin-left: 5px;"
                                                                 src="{{ asset('images/whatsup.png') }}"/>
                                                            <img class="icons-phone"
                                                                 src="{{ asset('images/telegram.png') }}"/><br><a
                                                                    href="tel:+375(25)333-33-33"><span>+375(25)333-33-33</span></a>
                                                        </address>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="block-wrap" style="margin-bottom: 10px;">
                                                <div class="unit unit-sm-horizontal unit-align-center unit-middle unit-spacing-xxs">
                                                    <div class="unit-left inline-block vertical-middle"><img
                                                                src="{{ asset('images/time.png') }}"
                                                                width="30px;"/></div>
                                                    <div class="unit-body inline-block vertical-middle">
                                                        <address class="contact-info"
                                                                 style="margin-bottom: 5px;"><span>Пн-пт: c 9.00 до 18.00</span><br><span>Сб-Вс: c 9.00 до 16.00</span>
                                                        </address>
                                                    </div>
                                                </div>
                                            </li>
                                            <p class="big-letter" style="margin-bottom: 10px;"><img
                                                        src="{{ asset('images/letter.png') }}" width="30px;"
                                                        style="margin-right: 10px;"/>info@gobusgo.by</p>
                                            <div class="header-icons">
                                                {#<img class="icons-top" src="{{ asset('images/whatsup.png') }}"#}
                                                {#/>#}
                                                {#<img src="{{ asset('images/telegram.png') }}"#}
                                                {#/>#}
                                                {#<img src="{{ asset('images/viber.png') }}"/>#}
                                                <img src="{{ asset('images/skype.png') }}"/>
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="rd-navbar-main-element">
                                <div class="rd-navbar-nav-wrap toggle-original-elements"
                                     id="rd-navbar-nav-wrap-1">
                                    <!-- RD Navbar Nav-->
                                    <ul class="rd-navbar-nav">


                                        <li class="rd-nav-item"><a class="rd-nav-link"
                                                                   href="">Главная</a>
                                        </li>
                                        <li class="rd-nav-item rd-navbar--has-megamenu rd-navbar-submenu rd-nav-link">
                                            Грузоперевозки<span class="rd-navbar-submenu-toggle"></span>
                                            <!-- RD Navbar Megamenu-->
                                            <ul class="rd-menu rd-navbar-megamenu rd-navbar-open-right p-l-10">
                                                <li class="rd-megamenu-item">
                                                    <ul class="rd-megamenu-list">
                                                        <li class="rd-megamenu-list-item"><a
                                                                    class="rd-megamenu-list-link"
                                                                    href="{{ path('gobusgo_gobusgo_deliveryMoscowMinsk') }}">Минск
                                                                <span class="fa fa-arrows-h"
                                                                      aria-hidden="true"></span> Москва</a></li>
                                                        <li class="divider-menu"></li>
                                                        <li class="rd-megamenu-list-item"><a
                                                                    class="rd-megamenu-list-link"
                                                                    href="{{ path('gobusgo_gobusgo_deliveryMinsk') }}">По
                                                                Минску</a></li>
                                                        <li class="divider-menu"></li>
                                                        <li class="rd-megamenu-list-item"><a
                                                                    class="rd-megamenu-list-link"
                                                                    href="{{ path('gobusgo_gobusgo_deliveryRB') }}">По
                                                                Беларуси</a></li>
                                                    </ul>
                                                </li>

                                            </ul>
                                        </li>

                                        <li class="rd-nav-item"><a class="rd-nav-link"
                                                                   href="{{ path('gobusgo_gobusgo_about') }}">О
                                                нас</a>
                                        </li>

                                        <li class="rd-nav-item"><a class="rd-nav-link"
                                                                   href="{{ path('gobusgo_gobusgo_blog') }}">Новости</a>
                                        </li>

                                        <li class="rd-nav-item"><a class="rd-nav-link"
                                                                   href="{{ path('gobusgo_gobusgo_contacts') }}">Контакты</a>
                                        </li>

                                        <li class="menu-li" style="padding-bottom: 5px;">

                                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                                <a style="margin-left: 15px;" class="btn-2"
                                                   href="{{ path('sonata_admin_dashboard') }}"> {{ app.user.organization|slice(0,10) }} {% if app.user.organization|length > 10  %}...{% endif %} </a><a class="btn-3" href="{{ path('fos_user_security_logout') }}">
                                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                            </a>
                                            {% else %}
                                                <a class="btn-2"
                                                   href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a><a class="btn-3"
                                                                                                                                                                href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>


                                            {% endif %}

                                        </li>
                                        <li class="menu-li" style="padding-top: 5px;">
                                            <img src="{{ asset('images/russian.png') }}"
                                                 style="height:28px;"/><span
                                                    class="country"> - GoBusGo в России</span>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-10 col-lg-10 col-xl-10 col-md-push-1 header-desktop" style="text-align: center;">

                        <div class="rd-navbar-inner header-desktop">
                            <div class="rd-navbar-middle-panel" style="margin: 10px 0px;">
                                <!-- RD Navbar Panel-->
                                <div class="rd-navbar-panel">
                                    <!-- RD Navbar Toggle-->
                                    <button class="rd-navbar-toggle toggle-original"
                                            data-rd-navbar-toggle=".rd-navbar-outer-panel" style="margin-left: 15%;">
                                        <span></span></button>
                                    <!-- RD Navbar Brand--><a class="rd-navbar-brand"
                                                              href="{{ path('gobusgo_gobusgo_homepage') }}">
                                        <div class="rd-navbar-fixed--visible">
                                            <img class="logo-top" src="{{ asset('images/logo-1.png') }}" alt="">
                                        </div>
                                    </a>
                                </div>
                                <div class="rd-navbar-aside toggle-original-elements menu-stuck"
                                     style="padding-left: 0px; padding-right: 0px; display: none;">
                                    <div class="header-menu">
                                        <li class="inline-block">
                                            <a href="{{ path('gobusgo_gobusgo_homepage') }}">Главная</a>
                                        </li>
                                        <li class="inline-block">
                                            <a href="{{ path('gobusgo_gobusgo_about') }}">О нас</a>
                                        </li>
                                        <li class="rd-nav-item rd-navbar--has-megamenu rd-navbar-submenu rd-nav-link opened">
                                            <span class="rd-navbar-submenu-toggle"><span style="line-height: 31px;">Грузоперевозки</span></span>
                                            <!-- RD Navbar Megamenu-->
                                            <ul class="rd-menu rd-navbar-megamenu rd-navbar-open-right p-l-10 rd-navbar-open-right"
                                                style="">
                                                <li class="rd-megamenu-item">
                                                    <ul class="rd-megamenu-list">
                                                        <li class="rd-megamenu-list-item"><a
                                                                    class="rd-megamenu-list-link"
                                                                    href="{{ path('gobusgo_gobusgo_deliveryMoscowMinsk') }}">Москва
                                                                <i class="fa fa-arrows-h" style="line-height: 30px;"
                                                                   aria-hidden="true"></i>
                                                                Минск</a></li>
                                                        <li class="divider-menu"></li>
                                                        <li class="rd-megamenu-list-item"><a
                                                                    class="rd-megamenu-list-link"
                                                                    href="{{ path('gobusgo_gobusgo_deliveryMinsk') }}">По
                                                                Минску</a></li>
                                                        <li class="divider-menu"></li>
                                                        <li class="rd-megamenu-list-item"><a
                                                                    class="rd-megamenu-list-link"
                                                                    href="{{ path('gobusgo_gobusgo_deliveryRB') }}">По
                                                                Беларуси</a></li>
                                                    </ul>
                                                </li>

                                            </ul>
                                        </li>
                                        {#<li class="inline-block">#}
                                        {#<img class="reload-header" src="{{ asset('images/reload-home-1.png') }}">#}
                                        {#<a style="display: inline-block;"#}
                                        {#href="{{ path('gobusgo_gobusgo_deliveryMoscowMinsk') }}">Москва - Минск</a>#}
                                        {#<img class="reload-header" src="{{ asset('images/reload-home-2.png') }}">#}
                                        {#</li>#}
                                        {#<li class="inline-block">#}
                                        {#<a href="{{ path('gobusgo_gobusgo_deliveryMinsk') }}">Доставка по Минску</a>#}
                                        {#</li>#}
                                        {#<li class="inline-block">#}
                                        {#<a href="{{ path('gobusgo_gobusgo_deliveryRB') }}">Доставка по Беларуси</a>#}
                                        {#</li>#}

                                        <li class="inline-block">
                                            <a href="{{ path('gobusgo_gobusgo_blog') }}">Новости</a>
                                        </li>
                                        <li class="inline-block" style="padding-right: 0px;">
                                            <a href="{{ path('gobusgo_gobusgo_contacts') }}">Контакты</a>
                                        </li>
                                    </div>

                                </div>
                                <div class="rd-navbar-aside toggle-original-elements stuck-1" style="margin-left: 10%;">
                                    <div class="rd-navbar-aside-toggle toggle-original"
                                         data-rd-navbar-toggle=".rd-navbar-aside"><span></span></div>
                                    <div class="rd-navbar-aside-content">
                                        <ul class="block-wrap-list">
                                            <li class="block-wrap inline-block">
                                                <div class="unit unit-sm-horizontal unit-align-center unit-middle unit-spacing-xxs">
                                                    <div class="unit-left inline-block vertical-middle">
                                                        <img src="{{ asset('images/phone.png') }}" width="30px;"/>
                                                    </div>
                                                    <div class="unit-body inline-block vertical-middle">
                                                        <address class="contact-info"><a
                                                                    href="tel:+375(33)333-33-33"><span>+375(33)333-33-33</span></a>
                                                            <img class="icons-phone" style="margin-left: 5px;"
                                                                 src="{{ asset('images/whatsup.png') }}"/>
                                                            <img class="icons-phone"
                                                                 src="{{ asset('images/telegram.png') }}"/><br><a
                                                                    href="tel:+375(25)333-33-33"><span>+375(25)333-33-33</span></a>
                                                        </address>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="rd-navbar-aside toggle-original-elements stuck-2">
                                    <div class="rd-navbar-aside-toggle toggle-original"
                                         data-rd-navbar-toggle=".rd-navbar-aside"><span></span></div>
                                    <div class="rd-navbar-aside-content">
                                        <ul class="block-wrap-list">

                                            <li class="block-wrap inline-block">
                                                <div class="unit unit-sm-horizontal unit-align-center unit-middle unit-spacing-xxs">
                                                    <div class="unit-left inline-block vertical-middle"><img
                                                                src="{{ asset('images/time.png') }}" width="30px;"/>
                                                    </div>
                                                    <div class="unit-body inline-block vertical-middle">
                                                        <address class="contact-info" style="margin-bottom: 5px;"><span>Пн-пт: c 9.00 до 18.00</span><br><span>Сб-Вс: c 9.00 до 16.00</span>
                                                        </address>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="rd-navbar-aside toggle-original-elements stuck-3">
                                    <div class="rd-navbar-aside-toggle toggle-original"
                                         data-rd-navbar-toggle=".rd-navbar-aside"><span></span></div>
                                    <div class="rd-navbar-aside-content">
                                        <ul class="block-wrap-list">
                                            <li class="block-wrap inline-block">
                                                <div class="unit unit-sm-horizontal unit-align-center unit-middle unit-spacing-xxs"
                                                     style="border: 2px solid #8598ff; border-radius: 50px; padding: 2px 20px;">
                                                    <div class="unit-left inline-block vertical-middle"><p>7</p></div>
                                                    <div class="unit-body inline-block vertical-middle"
                                                         style="margin-left: 0px;">
                                                        <address class="contact-info">
                                                            <a href="#free"><span>-ая доставка</span><br><span>БЕСПЛАТНО</span></a>
                                                        </address>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>

                        {#<hr class="divider-top">#}
                    </div>
                </nav>
                <div class="col-md-12 col-lg-12 col-xl-12 header-desktop"
                     style="text-align: center; background: #8598ff;">
                    <div class="col-md-1"></div>
                    <div class="col-md-10" style="padding-left: 0px; padding-right: 0px;">
                        <div class="header-menu">
                            <li class="inline-block" style="padding-left: 0px;">
                                <a href="{{ path('gobusgo_gobusgo_homepage') }}">Главная</a>
                            </li>
                            <li class="inline-block">
                                <a href="{{ path('gobusgo_gobusgo_about') }}">О нас</a>
                            </li>
                            <li class="inline-block">
                                {#<img class="reload-header" src="{{ asset('images/reload-home-1.png') }}">#}
                                <a href="{{ path('gobusgo_gobusgo_deliveryMoscowMinsk') }}">Москва <span
                                            class="fa fa-arrows-h" aria-hidden="true"></span> Минск</a>
                                {#<img class="reload-header" src="{{ asset('images/reload-home-2.png') }}">#}
                            </li>
                            <li class="inline-block">
                                <a href="{{ path('gobusgo_gobusgo_deliveryMinsk') }}">Доставка по Минску</a>
                            </li>
                            <li class="inline-block">
                                <a href="{{ path('gobusgo_gobusgo_deliveryRB') }}">Доставка по Беларуси</a>
                            </li>

                            <li class="inline-block">
                                <a href="{{ path('gobusgo_gobusgo_blog') }}">Новости</a>
                            </li>
                            <li class="inline-block">
                                <a href="{{ path('gobusgo_gobusgo_contacts') }}">Контакты</a>
                            </li>
                        </div>

                    </div>
                    {#<div class="col-md-7 align-c" style="height: 108px;">#}
                    {#<div class="logo-header inline-block">#}

                    {#<a href="{{ path('gobusgo_gobusgo_homepage') }}">#}
                    {#<img class="logo-top" src="{{ asset('images/logo-1.png') }}" alt="">#}
                    {#</a>#}
                    {#</div>#}

                    {#<ul class="block-wrap-list">#}
                    {#<li class="block-wrap inline-block">#}
                    {#<div class="unit unit-sm-horizontal unit-align-center unit-middle unit-spacing-xxs">#}
                    {#<div class="unit-left inline-block"><span class="fa fa-phone"></span></div>#}
                    {#<div class="unit-body inline-block">#}
                    {#<address class="contact-info" style="margin-bottom: 5px;"><a#}
                    {#href="tel:+375(33)333-33-33"><span>+375(33)333-33-33</span></a><br><a#}
                    {#href="tel:+375(25)333-33-33"><span>+375(25)333-33-33</span></a>#}
                    {#</address>#}
                    {#</div>#}
                    {#<div><a href="#win3">Заказать звонок</a></div>#}
                    {#</div>#}
                    {#</li>#}
                    {#<li class="block-wrap inline-block">#}
                    {#<div class="unit unit-sm-horizontal unit-align-center unit-middle unit-spacing-xxs">#}
                    {#<div class="unit-left inline-block"><span class="fa fa-clock-o"></span></div>#}
                    {#<div class="unit-body inline-block">#}
                    {#<address class="contact-info" style="margin-bottom: 5px;"><span>Пн-пт: c 9.00 до 18.00</span><br><span>Сб-Вс: c 9.00 до 16.00</span>#}
                    {#</address>#}
                    {#</div>#}
                    {#</div>#}
                    {#</li>#}
                    {#</ul>#}

                    {#<div class="header-menu inline-block">#}
                    {#<li class="inline-block">#}
                    {#<img class="reload-header" src="{{ asset('images/reload-home-1.png') }}">#}
                    {#<a style="display: inline-block;"#}
                    {#href="{{ path('gobusgo_gobusgo_deliveryMoscowMinsk') }}">Москва</br>Минск</a>#}
                    {#<img class="reload-header" src="{{ asset('images/reload-home-2.png') }}">#}
                    {#</li>#}
                    {#<li class="inline-block">#}
                    {#<a href="{{ path('gobusgo_gobusgo_deliveryMinsk') }}">Доставка </br>по Минску</a>#}
                    {#</li>#}
                    {#<li class="inline-block">#}
                    {#<a href="{{ path('gobusgo_gobusgo_deliveryRB') }}">Доставка<br> по Беларуси</a>#}
                    {#</li>#}
                    {#</div>#}


                    {#</div>#}
                    <div class="col-md-5 align-j" style="padding-left: 0px;">
                        <div class="col-md-4"
                             style="padding-left: 0px; padding-right: 0px; text-align: center; display: table;">

                        </div>

                        {#<div class="col-md-4"#}
                        {#style="padding-left: 0px; padding-right: 0px; text-align: center; display: table;">#}
                        {#<div class="time-of-work inline-block"#}
                        {#style="height: 108px; vertical-align: middle; display: table-cell; padding-right: 10px;">#}
                        {#<li>#}
                        {#<span>Время работы:</span><br> Пн-Пт - с 9.00 до 18.00<br>Сб-Вс - с 9.00 до#}
                        {#16.00#}
                        {#</li>#}
                        {#</div>#}
                        {#</div>#}
                        {#<div class="col-md-4" style="padding-left: 0px; padding-right: 0px; ">#}
                        {#<div class="time-of-work inline-block"#}
                        {#style="height: 108px; vertical-align: middle; display: table-cell; padding-right: 10px;">#}
                        {#<li>#}
                        {#<span>info@gobusgo.by</span><br>+375 (17) 333-33-33<br>+375 (33) 333-33-33#}
                        {#</li>#}
                        {#</div>#}
                        {##}
                        {#</div>#}
                    </div>
                </div>

            </div>
        </div>


    </header>

{% endblock %}
{% block breadcrumb %}

{% endblock %}
{% block callback %}

{% endblock %}

{% block body %}

{% endblock %}

{% block footer %}
    <footer>
        <div class="container-fluid" style="">
            <div class="row">
                <div class="col-md-3 footer-table">
                    <div>
                        <a href="{{ path('gobusgo_gobusgo_homepage') }}">
                            <img class="logo-footer" src="{{ asset('images/logo-1.png') }}">
                        </a>
                    </div>
                </div>
                <div class="col-md-3 footer-table">
                    <li class="title-footer-border">
                        <p class="title-footer">Грузоперевозки:</p>
                    </li>
                    <li class="link-footer">
                        <a class="link-text-footer" href="{{ path('gobusgo_gobusgo_deliveryMoscowMinsk') }}">Москва <i
                                    class="fa fa-arrows-h" aria-hidden="true"></i> Минск</a>
                    </li>
                    <li class="link-footer">
                        <a class="link-text-footer" href="{{ path('gobusgo_gobusgo_deliveryRB') }}">по Беларуси</a>
                    </li>
                    <li class="link-footer">
                        <a class="link-text-footer" href="{{ path('gobusgo_gobusgo_deliveryMinsk') }}">по Минску</a>
                    </li>

                </div>
                <div class="col-md-3 footer-table">
                    <li class="title-footer-border">
                        <p class="title-footer">Контакты:</p>
                    </li>
                    <table class="table-footer" border="1" style="display: block;">
                        <tbody style="display: inline-block;">
                        <tr>
                            <td rowspan="3">
                                <p class="big-numbers-footer">333 33 33</p>
                            </td>
                            <td>
                                <p class="text-operator">МТС</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="text-operator">Velcome</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="text-operator">Life :)</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <p class="big-letter-footer">info@gobusgo.by</p>
                    <div class="footer-icons">
                        <img src="{{ asset('images/whatsup.png') }}" style="height:35px; margin-right: 5px;"/>
                        <img src="{{ asset('images/telegram.png') }}" style="height:35px; margin-right: 5px;"/>
                        <img src="{{ asset('images/viber.png') }}" style="height:35px; margin-right: 5px;"/>
                        <img src="{{ asset('images/skype.png') }}" style="height:35px; margin-right: 5px;"/>
                        <img src="{{ asset('images/russian.png') }}" style="height:28px;"/>
                    </div>
                </div>
                <div class="col-md-3 footer-table">
                    <li class="title-footer-border">
                        <p class="title-footer">Юридические данные:</p>
                    </li>
                    <p class="footer-text">ИП Иванов И.И.</br>
                        г. Минск, пр. Независимости 110, офис 10</br>
                        УНП 123456789</br>
                        Свидетельство о государственной регистрации выдано Минским горисполкомом

                    </p>
                </div>

            </div>
        </div>
        <div class="container-fluid m-t-10">
            <div class="row">

                <div class="col-md-6 col-sm-6 col-xs-6">
                    <p class="footer-caption" style="float:left;">&copy;Gobusgo.by 2018</p>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <p class="footer-caption" style="float:right;">Разработка: <a
                                href="http://new-line.by">New-line.by</a>
                    </p>
                </div>
            </div>
        </div>


    </footer>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript" src="{{ asset('js/popper.min.js') }}"></script>
    {#{% javascripts '@jquery' '@bootstrap_js' %}#}
    {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}
    <script type="text/javascript" src="{{ asset('js/core.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/scripts.js') }}"></script>


{% endblock %}
</body>
</html>
