{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {#{{ form_widget(form) }}#}
{{ form_errors(form.username) }}
{{ form_widget(form.username, {'attr':{'class':'an-form-control light', 'placeholder':'Имя пользователя'}}) }}

<div>
    <input type="submit" value="{{ 'registration.submit'|trans }}"/>
</div>
{{ form_end(form) }}
