{{ form_start(form, { 'action': path('gobusgo_gobusgo_comment_create' , { 'blog_id' : comment.blog.id, 'categoryUrl' : comment.blog.category.url }), 'method': 'POST', 'attr': {'class': 'form offset-top-22'} }) }}

<div style="margin-bottom: 15px;">
    {{ form_errors(form.user) }}
    {{ form_widget(form.user, {'attr':{'class':'input-log', 'placeholder':'Ваше имя?'}}) }}
</div>


<div style="margin-bottom: 15px;">
    {{ form_errors(form.comment) }}
    {{ form_widget(form.comment, {'attr':{'class':'input-textarea','placeholder':'Комментарий'}}) }}
</div>



<p>
    <input class="button-log" type="submit" value="Отправить">
</p>

{{ form_end(form) }}