{% extends '@GobusgoGobusgo/Blog/layout.html.twig' %}

{% block body %}

    <div class="container">

        <div class="col-md-12 offset-top-22 offset-md-top-40">
            <h1 class="text-left">{{ blog.title }}</h1>
            <div style="margin-bottom: 10px;">
                <span style="font-style: italic; color: #b1b1b1;"><i class="fa fa-clock-o" aria-hidden="true"
                                                                     style="color: #8598ff;"></i> {{ blog.created|date('d/m/Y') }}</span>
                <span class="sonata-blog-post-comments-count"><i class="fa fa-comment-o" aria-hidden="true"
                                                                 style="margin-left: 10px; color: #8598ff;"></i> {{ blog.comments|length }}</span>
                <span class="sonata-blog-post-author" style="font-style: Italic;"><i class="fa fa-user-o"
                                                                                     aria-hidden="true"
                                                                                     style="margin-left: 10px; color: #8598ff;"></i> {{ blog.author }}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-top-22 offset-md-top-40 section-bottom-40">
                <article>


                    {#{{ blog.description }}#}
                    <div class="blog">

                        {#<img src="{{ asset(['images/', blog.image]|join) }}" alt="{{ blog.title }} image not found" class="large" />#}
                        <div style="margin-top: 20px;">
                            <div class="text-center">
                                {% media blog.image, 'small' %}
                            </div>
                            <p style="margin-top: 30px;">{{ blog.blog | raw }}</p>
                        </div>

                        <div class="blog-flex" style="margin-top: 30px;">
                            <div class="sonata-blog-post-information">
                                {#<div class="sonata-blog-post-tags">#}
                                {#<i class="fa fa-tags" style="color: #8598ff;" aria-hidden="true"></i>#}
                                {#{{ blog.tags }}#}
                                {#</div>#}
                            </div>
                            <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                            <script src="//yastatic.net/share2/share.js"></script>
                            <div class="ya-share2"
                                 data-services="vkontakte,facebook,odnoklassniki,moimir,gplus,twitter"></div>
                        </div>


                    </div>

                </article>


                <section class="comments" id="comments">
                    <div class="sonata-blog-comment-container">
                        <h4  style="display: inline-block; border-bottom: 1px solid #ebebeb;">Комментарии:</h4>

                        {% include 'GobusgoGobusgoBundle:Blog:comment.html.twig' with { 'comments': comments } %}
                    </div>
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    <h4 style="display: inline-block; border-bottom: 1px solid #ebebeb;">Добавить комментарий:</h4>
                    {{ render(controller('GobusgoGobusgoBundle:Comment:new',{ 'blog_id': blog.id })) }}
                </section>

            </div>
            {% block sidebar %}
                {{ render(controller('GobusgoGobusgoBundle:Page:sidebar' )) }}
            {% endblock %}
        </div>
    </div>
    </div>

    {#{{ parent() }}#}
{% endblock %}