{% trans_default_domain 'FOSUserBundle' %}

{#{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}#}
    {#{{ form_widget(form) }}#}
    {#<div>#}
        {#<input type="submit" value="{{ 'change_password.submit'|trans }}" />#}
    {#</div>#}
{#{{ form_end(form) }}#}



{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="row text-center">
        <a href="{{ path('gobusgo_gobusgo_homepage') }}">
            <img src="{{ asset('images/logo-1.png') }}" class="m-b-20" alt="" width="120px;">
        </a>
        <h1>Смена пароля</h1>
        <div class="login-form">


            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
            {#{{ form_widget(form) }}#}
            <div class="form-input">
                <div class="Input">
                    {{ form_errors(form.current_password) }}
                    {{ form_widget(form.current_password, {'attr':{'class':'input-log', 'placeholder':'Текущий пароль'}}) }}
                </div>
                <div class="Input">
                    {{ form_errors(form.plainPassword.first) }}
                    {{ form_widget(form.plainPassword.first, {'attr':{'class':'input-log', 'placeholder':'Новый'}}) }}
                </div>
                <div class="Input">
                    {{ form_errors(form.plainPassword.second) }}
                    {{ form_widget(form.plainPassword.second, {'attr':{'class':'input-log', 'placeholder':'Подтвердите новый пароль'}}) }}
                </div>

            </div>
            <div class="Input">
                <input type="submit" class="button-log" value="{{ 'change_password.submit'|trans }}"/>
            </div>
            {{ form_end(form) }}

        </div>
    </div>
</div>