{#{% extends '@GobusgoGobusgo/layout.html.twig' %}#}
{% extends '::base.html.twig' %}

{% block callback %}
{#<a href="#x" class="overlay" id="win3">#}
{#</a>#}
{#<div class="popup" style="max-width:500px; text-align:center;">#}
    {#<div class="section bg-gray-light container-fluid" style="padding-top: 10px; padding-bottom: 10px; padding:0%;">#}
        {#<h2 style="margin-bottom: 20px;">Заказ обратного звонка</h2>#}
        {#<div class="container-fluid">#}

            {#{{ form_start(callform, { 'action': path('BloggerBlogBundle_confirm'), 'method': 'POST' }) }}#}
            {#{{ form_errors(callform) }}#}

            {#<div class="Input-text">#}
                {#{{ form_widget(callform.name, {'attr':{'class':'form-control','placeholder':'Как вас зовут?'}}) }}#}
            {#</div>#}
            {#<div class="Input-text">#}
                {#{{ form_widget(callform.phone, {'attr':{'class':'form-control','placeholder':'Номер телефона'}}) }}#}
            {#</div>#}
            {#<input type="submit" class="submit-button" value="Отправить" style="color:black;">#}
            {#{{ form_end(callform) }}#}
        {#</div>#}
    {#</div>#}

    {#<a class="close" title="Закрыть" href="#close"></a>#}
{#</div>#}

{% endblock %}
{% block body %}
    <body>



    {#<div>#}
            {#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
                {#{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |#}
                {#<a href="{{ path('fos_user_security_logout') }}">#}
                    {#{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}#}
                {#</a>#}
            {#{% else %}#}
                {#<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>#}
            {#{% endif %}#}
        {#</div>#}

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </body>
{% endblock %}
